--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/reseller/4/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/reseller/4/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/52/\", \"created_at\": \"Thu, 7 Jun 2012 08:24:36 -0700\", \"id\": 4, \"name\": \"NE Ohio Web Services\", \"resource_uri\": \"/api/v1/reseller/4/\", \"updated_at\": \"Sat, 16 Mar 2013 08:33:10 -0700\"}"
  recorded_at: Sat, 16 Mar 2013 15:33:31 GMT
- request: 
    method: post
    uri: https://admin-dev.mailroute.net/api/v1/customer/
    body: 
      string: "{\"name\":\"New Cusxtsdomdewr3r\",\"reseller\":\"/api/v1/reseller/4/\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 201
      message: CREATED
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://admin-dev.mailroute.net/api/v1/customer/2347/
    body: 
      string: "{\"absolute_url\": \"/customer/2347/\", \"allow_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/2141/\", \"created_at\": \"Sat, 16 Mar 2013 08:33:32 -0700\", \"id\": 2347, \"is_full_user_list\": false, \"name\": \"New Cusxtsdomdewr3r\", \"reported_user_count\": null, \"reseller\": \"/api/v1/reseller/4/\", \"resource_uri\": \"/api/v1/customer/2347/\", \"updated_at\": \"Sat, 16 Mar 2013 08:33:33 -0700\"}"
  recorded_at: Sat, 16 Mar 2013 15:33:33 GMT
[...]
