---
recorded_with: VCR 2.5.0
http_interactions:
- request:
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/email_account/7718/
    body:
      string: ""
    headers:
      Authorization:
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      string: "{\"absolute_url\": \"/user/admin@example.com/\", \"aliases\": \"a,b,c,d,e\", \"change_pwd\": null, \"contact\": null, \"create_opt\": null, \"created_at\": \"Wed, 1 May 2013 12:03:04 -0700\", \"domain\": \"/api/v1/domain/8372/\", \"domain_name\": \"example.com\", \"id\": 7718, \"localpart\": \"admin\", \"notification_tasks\": [\"/api/v1/notification_account_task/16924/\"], \"policy\": \"/api/v1/policy_user/16395/\", \"priority\": 8, \"resource_uri\": \"/api/v1/email_account/7718/\", \"updated_at\": \"Mon, 20 May 2013 10:42:19 -0700\", \"use_domain_notifications\": true}"
  recorded_at: Mon, 20 May 2013 17:42:52 GMT
- request:
    method: put
    uri: https://admin-dev.mailroute.net/api/v1/email_account/7718/
    body:
      string: "{\"absolute_url\":\"/user/admin@example.com/\",\"password\":\"new_password\",\"id\":7718,\"domain\":\"/api/v1/domain/8372/\",\"create_opt\":null,\"priority\":8,\"notification_tasks\":[\"/api/v1/notification_account_task/16924/\"],\"created_at\":\"Wed, 1 May 2013 12:03:04 -0700\",\"localpart\":\"admin\",\"domain_name\":\"example.com\",\"contact\":null,\"resource_uri\":\"/api/v1/email_account/7718/\",\"confirm_password\":\"new_password\",\"updated_at\":\"Mon, 20 May 2013 10:42:19 -0700\",\"change_pwd\":null,\"aliases\":\"a,b,c,d,e\",\"use_domain_notifications\":true,\"policy\":\"/api/v1/policy_user/16395/\"}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response:
    status:
      code: 202
      message: ACCEPTED
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      string: "{\"absolute_url\": \"/user/admin@example.com/\", \"aliases\": \"a,b,c,d,e\", \"change_pwd\": null, \"confirm_password\": \"new_password\", \"contact\": null, \"create_opt\": null, \"created_at\": \"Wed, 1 May 2013 12:03:04 -0700\", \"domain\": \"/api/v1/domain/8372/\", \"domain_name\": \"example.com\", \"id\": 7718, \"localpart\": \"admin\", \"notification_tasks\": [\"/api/v1/notification_account_task/16924/\"], \"password\": \"new_password\", \"pk\": \"7718\", \"policy\": \"/api/v1/policy_user/16395/\", \"priority\": 8, \"resource_uri\": \"/api/v1/email_account/7718/\", \"updated_at\": \"Mon, 20 May 2013 10:42:54 -0700\", \"use_domain_notifications\": true}"
  recorded_at: Mon, 20 May 2013 17:42:54 GMT
