--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/email_account/53282/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/user/53282/\", \"aliases\": \"\", \"change_pwd\": null, \"contact\": \"/api/v1/contact_email_account/1654/\", \"create_opt\": null, \"created_at\": \"Sat, 23 Mar 2013 13:07:09 -0700\", \"domain\": \"/api/v1/domain/4555/\", \"domain_name\": \"apapap.example.com\", \"id\": 53282, \"localpart\": \"sales\", \"notification_task\": \"/api/v1/notification_account_task/57820/\", \"policy\": \"/api/v1/policy_user/57887/\", \"priority\": 8, \"resource_uri\": \"/api/v1/email_account/53282/\", \"updated_at\": \"Sat, 23 Mar 2013 13:37:03 -0700\"}"
  recorded_at: Thu, 28 Mar 2013 18:49:40 GMT
- request: 
    method: put
    uri: https://admin-dev.mailroute.net/api/v1/email_account/53282/
    body: 
      string: "{\"absolute_url\":\"/user/53282/\",\"aliases\":\"\",\"change_pwd\":null,\"contact\":\"/api/v1/contact_email_account/1654/\",\"create_opt\":null,\"created_at\":\"Sat, 23 Mar 2013 13:07:09 -0700\",\"domain\":\"/api/v1/domain/4555/\",\"domain_name\":\"apapap.example.com\",\"id\":53282,\"localpart\":\"sales\",\"notification_task\":\"/api/v1/notification_account_task/57820/\",\"password\":\"new_password\",\"policy\":\"/api/v1/policy_user/57887/\",\"priority\":8,\"resource_uri\":\"/api/v1/email_account/53282/\",\"updated_at\":\"Sat, 23 Mar 2013 13:37:03 -0700\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 400
      message: BAD REQUEST
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"email_account\": {\"__all__\": [\"Passwords don`t match\"]}}"
  recorded_at: Thu, 28 Mar 2013 18:49:45 GMT
