--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: post
    uri: https://admin-dev.mailroute.net/api/v1/reseller/
    body: 
      string: "{\"name\":\"TERMINATOR 1\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 201
      message: CREATED
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://admin-dev.mailroute.net/api/v1/reseller/1508/
    body: 
      string: "{\"absolute_url\": \"/reseller/1508/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/3531/\", \"created_at\": \"Sun, 3 Mar 2013 06:17:11 -0800\", \"id\": 1508, \"name\": \"TERMINATOR 1\", \"resource_uri\": \"/api/v1/reseller/1508/\", \"updated_at\": \"Sun, 3 Mar 2013 06:17:11 -0800\"}"
  recorded_at: Sun, 03 Mar 2013 14:17:12 GMT
[...]
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/reseller/?name__startswith=TERMINATOR%20
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 3}, \"objects\": [{\"absolute_url\": \"/reseller/1508/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/3531/\", \"created_at\": \"Sun, 3 Mar 2013 06:17:11 -0800\", \"id\": 1508, \"name\": \"TERMINATOR 1\", \"resource_uri\": \"/api/v1/reseller/1508/\", \"updated_at\": \"Sun, 3 Mar 2013 06:17:11 -0800\"}, {\"absolute_url\": \"/reseller/1509/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/3532/\", \"created_at\": \"Sun, 3 Mar 2013 06:17:13 -0800\", \"id\": 1509, \"name\": \"TERMINATOR 2\", \"resource_uri\": \"/api/v1/reseller/1509/\", \"updated_at\": \"Sun, 3 Mar 2013 06:17:13 -0800\"}, {\"absolute_url\": \"/reseller/1510/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/3533/\", \"created_at\": \"Sun, 3 Mar 2013 06:17:17 -0800\", \"id\": 1510, \"name\": \"TERMINATOR 3\", \"resource_uri\": \"/api/v1/reseller/1510/\", \"updated_at\": \"Sun, 3 Mar 2013 06:17:17 -0800\"}]}"
  recorded_at: Sun, 03 Mar 2013 14:17:19 GMT
