--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/domain/?name=do.not.exist.example.net
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey test_ruby:93ec480a01deb532ffb592ba711013e14422c4f1
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 0}, \"objects\": []}"
  recorded_at: Tue, 30 Apr 2013 19:58:09 GMT
