--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/customer/?q=e
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": \"/api/v1/customer/?q=e&limit=20&offset=20\", \"offset\": 0, \"previous\": null, \"total_count\": 1592}, \"objects\": [{\"absolute_url\": \"/customer/1300/\", \"allow_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/84/\", \"created_at\": \"Fri, 26 Oct 2012 04:18:42 -0700\", \"id\": 1300, \"is_full_user_list\": false, \"name\": \"111testCustomer111cc\", \"reported_user_count\": null, \"reseller\": \"/api/v1/reseller/51/\", \"resource_uri\": \"/api/v1/customer/1300/\", \"updated_at\": \"Fri, 29 Mar 2013 11:43:12 -0700\"}, {\"absolute_url\": \"/customer/1220/\", \"allow_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/86/\", \"created_at\": \"Thu, 13 Sep 2012 03:35:25 -0700\", \"id\": 1220, \"is_full_user_list\": false, \"name\": \"22DELME2\", \"reported_user_count\": null, \"reseller\": \"/api/v1/reseller/1/\", \"resource_uri\": \"/api/v1/customer/1220/\", \"updated_at\": \"Tue, 12 Mar 2013 20:21:14 -0700\"}, {\"absolute_url\": \"/customer/1444/\", \"allow_brandi[...]
