--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/domain/4555/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/domain/4555/\", \"active\": true, \"created_at\": \"Thu, 21 Mar 2013 11:39:31 -0700\", \"customer\": \"/api/v1/customer/1300/\", \"deliveryport\": 25, \"hold_email\": false, \"id\": 4555, \"name\": \"apapap.example.com\", \"notification_task\": \"/api/v1/notification_domain_task/57818/\", \"outbound_enabled\": false, \"policy\": \"/api/v1/policy_domain/57885/\", \"resource_uri\": \"/api/v1/domain/4555/\", \"updated_at\": \"Thu, 21 Mar 2013 11:48:31 -0700\", \"userlist_complete\": false}"
  recorded_at: Thu, 21 Mar 2013 18:50:18 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/policy_domain/57885/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"addr_extension_bad_header\": null, \"addr_extension_banned\": null, \"addr_extension_spam\": null, \"addr_extension_virus\": null, \"archive_quarantine_to\": null, \"bad_header_lover\": \"N\", \"bad_header_quarantine_to\": \"sql:\", \"banned_files_lover\": \"N\", \"banned_quarantine_to\": \"sql:\", \"bypass_banned_checks\": \"N\", \"bypass_header_checks\": \"Y\", \"bypass_spam_checks\": \"N\", \"bypass_virus_checks\": \"N\", \"domain\": \"/api/v1/domain/4555/\", \"id\": 57885, \"is_default\": false, \"message_size_limit\": null, \"priority\": 5, \"resource_uri\": \"/api/v1/policy_domain/57885/\", \"spam_kill_level\": 7.0, \"spam_lover\": \"N\", \"spam_quarantine_cutoff_level\": null, \"spam_quarantine_to\": \"sql:\", \"spam_subject_tag\": null, \"spam_subject_tag2\": null, \"spam_subject_tag3\": null, \"spam_tag2_level\": null, \"spam_tag3_level\": null, \"spam_tag_level\": -9999.0, \"unchecked_lover\": \"Y\", \"unchecked_quarantine_to\": null, \"virus_lover\": \"N\", \"virus_quarantine_to\": \"sql:\", \"warnbadhrecip\": \"N\", \"warnbannedrecip\": \"N\", \"warnvirusrecip\": \"N\"}"
  recorded_at: Thu, 21 Mar 2013 18:50:20 GMT
