--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/email_account/22/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/user/22/\", \"aliases\": \"\", \"change_pwd\": null, \"contact\": null, \"create_opt\": null, \"created_at\": \"Thu, 7 Jun 2012 08:24:37 -0700\", \"domain\": \"/api/v1/domain/7/\", \"domain_name\": \"3utech.com\", \"id\": 22, \"localpart\": \"3ugtm2\", \"notification_task\": \"/api/v1/notification_account_task/29/\", \"policy\": \"/api/v1/policy_user/30/\", \"priority\": 8, \"resource_uri\": \"/api/v1/email_account/22/\", \"updated_at\": \"Thu, 27 Dec 2012 01:51:45 -0800\"}"
  recorded_at: Sat, 30 Mar 2013 10:30:38 GMT
- request: 
    method: post
    uri: https://admin-dev.mailroute.net/api/v1/wblist/
    body: 
      string: "{\"email\":\"reply@example.com\",\"email_account\":\"/api/v1/email_account/22/\",\"wb\":\"b\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 201
      message: CREATED
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://admin-dev.mailroute.net/api/v1/wblist/1882135/
    body: 
      string: "{\"domain\": null, \"email\": \"reply@example.com\", \"email_account\": \"/api/v1/email_account/22/\", \"id\": 1882135, \"mail_addr\": \"/api/v1/mailaddr/273720/\", \"resource_uri\": \"/api/v1/wblist/1882135/\", \"wb\": \"b\"}"
  recorded_at: Sat, 30 Mar 2013 10:30:39 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/wblist/?email_account=22&wb=b
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 1}, \"objects\": [{\"domain\": null, \"email\": \"reply@example.com\", \"email_account\": \"/api/v1/email_account/22/\", \"id\": 1882135, \"mail_addr\": \"/api/v1/mailaddr/273720/\", \"resource_uri\": \"/api/v1/wblist/1882135/\", \"wb\": \"b\"}]}"
  recorded_at: Sat, 30 Mar 2013 10:30:40 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/wblist/1882135/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"domain\": null, \"email\": \"reply@example.com\", \"email_account\": \"/api/v1/email_account/22/\", \"id\": 1882135, \"mail_addr\": \"/api/v1/mailaddr/273720/\", \"resource_uri\": \"/api/v1/wblist/1882135/\", \"wb\": \"b\"}"
  recorded_at: Sat, 30 Mar 2013 10:30:41 GMT
[...]
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/wblist/?email_account=22
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 0}, \"objects\": []}"
  recorded_at: Sat, 30 Mar 2013 10:30:45 GMT
