--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/domain/4554/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/domain/4554/\", \"active\": false, \"created_at\": \"Sun, 17 Mar 2013 08:14:41 -0700\", \"customer\": \"/api/v1/customer/1300/\", \"deliveryport\": 240, \"hold_email\": false, \"id\": 4554, \"name\": \"uberapp.example.com\", \"notification_task\": \"/api/v1/notification_domain_task/57796/\", \"outbound_enabled\": false, \"policy\": \"/api/v1/policy_domain/57863/\", \"resource_uri\": \"/api/v1/domain/4554/\", \"updated_at\": \"Sun, 17 Mar 2013 12:03:39 -0700\", \"userlist_complete\": true}"
  recorded_at: Sun, 17 Mar 2013 19:04:54 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/domain_alias/?domain=4554
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 0}, \"objects\": []}"
  recorded_at: Sun, 17 Mar 2013 19:04:55 GMT
- request: 
    method: post
    uri: https://admin-dev.mailroute.net/api/v1/domain_alias/
    body: 
      string: "{\"domain\":\"/api/v1/domain/4554/\",\"name\":\"x.example.com\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 201
      message: CREATED
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://admin-dev.mailroute.net/api/v1/domain_alias/5093/
    body: 
      string: "{\"active\": true, \"created_at\": \"Sun, 17 Mar 2013 12:04:57 -0700\", \"domain\": \"/api/v1/domain/4554/\", \"id\": 5093, \"name\": \"x.example.com\", \"resource_uri\": \"/api/v1/domain_alias/5093/\", \"updated_at\": \"Sun, 17 Mar 2013 12:04:57 -0700\"}"
  recorded_at: Sun, 17 Mar 2013 19:04:57 GMT
[...]
