--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/domain/4554/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/domain/4554/\", \"active\": false, \"created_at\": \"Sun, 17 Mar 2013 08:14:41 -0700\", \"customer\": \"/api/v1/customer/1300/\", \"deliveryport\": 240, \"hold_email\": false, \"id\": 4554, \"name\": \"uberapp.example.com\", \"notification_task\": \"/api/v1/notification_domain_task/57796/\", \"outbound_enabled\": false, \"policy\": \"/api/v1/policy_domain/57863/\", \"resource_uri\": \"/api/v1/domain/4554/\", \"updated_at\": \"Mon, 18 Mar 2013 11:05:09 -0700\", \"userlist_complete\": true}"
  recorded_at: Mon, 18 Mar 2013 18:50:12 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/wblist/?domain=4554
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 0}, \"objects\": []}"
  recorded_at: Mon, 18 Mar 2013 18:50:13 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/wblist/?domain=4554&wb=b
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 0}, \"objects\": []}"
  recorded_at: Mon, 18 Mar 2013 18:50:14 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/wblist/?domain=4554&wb=w
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 0}, \"objects\": []}"
  recorded_at: Mon, 18 Mar 2013 18:50:17 GMT
- request: 
    method: post
    uri: https://admin-dev.mailroute.net/api/v1/wblist/
    body: 
      string: "{\"domain\":\"/api/v1/domain/4554/\",\"email\":\"spam@example.com\",\"wb\":\"b\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 201
      message: CREATED
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://admin-dev.mailroute.net/api/v1/wblist/1882123/
    body: 
      string: "{\"domain\": \"/api/v1/domain/4554/\", \"email\": \"spam@example.com\", \"email_account\": null, \"id\": 1882123, \"resource_uri\": \"/api/v1/wblist/1882123/\", \"wb\": \"b\"}"
  recorded_at: Mon, 18 Mar 2013 18:50:18 GMT
[...]
