--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/reseller/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": \"/api/v1/reseller/?limit=20&offset=20\", \"offset\": 0, \"previous\": null, \"total_count\": 133}, \"objects\": [{\"absolute_url\": \"/reseller/657/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/2175/\", \"created_at\": \"Thu, 28 Feb 2013 05:38:49 -0800\", \"id\": 657, \"name\": \"98f893e40400a891a85586de9303712e\", \"resource_uri\": \"/api/v1/reseller/657/\", \"updated_at\": \"Thu, 28 Feb 2013 05:38:49 -0800\"}, {\"absolute_url\": \"/reseller/101/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/1507/\", \"created_at\": \"Sat, 23 Feb 2013 12:10:07 -0800\", \"id\": 101, \"name\": \"bea56460c98fb7a662a96274bd48d147\", \"resource_uri\": \"/api/v1/reseller/101/\", \"updated_at\": \"Thu, 28 Feb 2013 05:38:21 -0800\"}, {\"absolute_url\": \"/reseller/46/\", \"allow_branding\": false, \"allow_customer_branding\": f[...]
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/reseller/?limit=30
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 30, \"next\": \"/api/v1/reseller/?limit=30&offset=30\", \"offset\": 0, \"[...]
