---
http_interactions:
- request:
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/reseller/?name__startswith=d
    body:
      string: ""
    headers:
      Authorization:
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 10}, \"objects\": [{\"absolute_url\": \"/reseller/380/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/1823/\", \"created_at\": \"Wed, 27 Feb 2013 03:45:54 -0800\", \"id\": 380, \"name\": \"d148b418d75707964e277064b74b5ffc\", \"resource_uri\": \"/api/v1/reseller/380/\", \"updated_at\": \"Wed, 27 Feb 2013 03:45:54 -0800\"}, {\"absolute_url\": \"/reseller/526/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/2011/\", \"created_at\": \"Wed, 27 Feb 2013 07:43:35 -0800\", \"id\": 526, \"name\": \"d18e9aa71f504b11aefc19648eb6fade\", \"resource_uri\": \"/api/v1/reseller/526/\", \"updated_at\": \"Wed, 27 Feb 2013 07:43:35 -0800\"}, {\"absolute_url\": \"/reseller/391/\", \"allow_branding\": false, \"allow_customer_branding\": [...]
