--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/reseller/?q=Data
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 3}, \"objects\": [{\"absolute_url\": \"/reseller/50/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/12/\", \"created_at\": \"Wed, 19 Sep 2012 09:34:52 -0700\", \"id\": 50, \"name\": \"Centurion Data Systems\", \"resource_uri\": \"/api/v1/reseller/50/\", \"updated_at\": \"Fri, 22 Feb 2013 15:29:19 -0800\"}, {\"absolute_url\": \"/reseller/73/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/21/\", \"created_at\": \"Mon, 14 Jan 2013 13:48:04 -0800\", \"id\": 73, \"name\": \"Data Access\", \"resource_uri\": \"/api/v1/reseller/73/\", \"updated_at\": \"Fri, 22 Feb 2013 15:29:19 -0800\"}, {\"absolute_url\": \"/reseller/20/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/22/\", \"created_at\": \"Thu, 7 Jun 2012 15:36:51 -0700\", \"id\": 20, \"name\": \"Datascribe LTD\", \"resource_uri\": \"/api/v1/reseller/20/\", \"updated_at\": \"Fri, 22 Feb 2013 15:29:19 -0800\"}]}"
  recorded_at: Fri, 01 Mar 2013 11:13:07 GMT
