--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/reseller/?order_by=-name
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": \"/api/v1/reseller/?limit=20&order_by=-name&offset=20\", \"offset\": 0, \"previous\": null, \"total_count\": 84}, \"objects\": [{\"absolute_url\": \"/reseller/12/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/83/\", \"created_at\": \"Thu, 7 Jun 2012 08:28:51 -0700\", \"id\": 12, \"name\": \"Xpansys Limited\", \"resource_uri\": \"/api/v1/reseller/12/\", \"updated_at\": \"Tue, 12 Mar 2013 20:21:14 -0700\"}, {\"absolute_url\": \"/reseller/14/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/82/\", \"created_at\": \"Thu, 7 Jun 2012 08:31:36 -0700\", \"id\": 14, \"name\": \"XFactor Solutions Inc.\", \"resource_uri\": \"/api/v1/reseller/14/\", \"updated_at\": \"Tue, 12 Mar 2013 20:21:14 -0700\"}, {\"absolute_url\": \"/reseller/31/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding[...]
