--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/customer/1300/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/customer/1300/\", \"allow_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/84/\", \"created_at\": \"Fri, 26 Oct 2012 04:18:42 -0700\", \"id\": 1300, \"is_full_user_list\": false, \"name\": \"111testCustomer111cc\", \"reported_user_count\": null, \"reseller\": \"/api/v1/reseller/51/\", \"resource_uri\": \"/api/v1/customer/1300/\", \"updated_at\": \"Sun, 17 Mar 2013 07:37:21 -0700\"}"
  recorded_at: Sun, 17 Mar 2013 14:38:12 GMT
- request: 
    method: post
    uri: https://admin-dev.mailroute.net/api/v1/domain/
    body: 
      string: "{\"customer\":\"/api/v1/customer/1300/\",\"deliveryport\":250,\"hold_email\":true,\"name\":\"testxxx.example.com\",\"outbound_enabled\":false,\"userlist_complete\":false}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 201
      message: CREATED
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://admin-dev.mailroute.net/api/v1/domain/4552/
    body: 
      string: "{\"absolute_url\": \"/domain/4552/\", \"active\": true, \"contacts\": null, \"created_at\": \"Sun, 17 Mar 2013 07:38:13 -0700\", \"customer\": \"/api/v1/customer/1300/\", \"deliveryport\": 250, \"domain_aliases\": null, \"email_accounts\": null, \"hold_email\": true, \"id\": 4552, \"mail_servers\": null, \"name\": \"testxxx.example.com\", \"notification_task\": \"/api/v1/notification_domain_task/57794/\", \"outbound_enabled\": false, \"outbound_servers\": null, \"policy\": \"/api/v1/policy_domain/57861/\", \"resource_uri\": \"/api/v1/domain/4552/\", \"updated_at\": \"Sun, 17 Mar 2013 07:38:13 -0700\", \"userlist_complete\": false}"
  recorded_at: Sun, 17 Mar 2013 14:38:13 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/domain/4552/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/domain/4552/\", \"active\": true, \"created_at\": \"Sun, 17 Mar 2013 07:38:13 -0700\", \"customer\": \"/api/v1/customer/1300/\", \"deliveryport\": 250, \"hold_email\": true, \"id\": 4552, \"name\": \"testxxx.example.com\", \"notification_task\": \"/api/v1/notification_domain_task/57794/\", \"outbound_enabled\": false, \"policy\": \"/api/v1/policy_domain/57861/\", \"resource_uri\": \"/api/v1/domain/4552/\", \"updated_at\": \"Sun, 17 Mar 2013 07:38:13 -0700\", \"userlist_complete\": false}"
  recorded_at: Sun, 17 Mar 2013 14:38:14 GMT
