--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/reseller/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": \"/api/v1/reseller/?limit=20&offset=20\", \"offset\": 0, \"previous\": null, \"total_count\": 122}, \"objects\": [{\"absolute_url\": \"/reseller/434/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/1892/\", \"created_at\": \"Wed, 27 Feb 2013 05:57:31 -0800\", \"id\": 434, \"name\": \"b12090af97c2d1f2cb4cb70806362e03\", \"resource_uri\": \"/api/v1/reseller/434/\", \"updated_at\": \"Wed, 27 Feb 2013 05:57:31 -0800\"}, {\"absolute_url\": \"/reseller/179/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/1585/\", \"created_at\": \"Sun, 24 Feb 2013 06:05:40 -0800\", \"id\": 179, \"name\": \"b3a07c1594d52d6eb2e5c7b36322cb7c\", \"resource_uri\": \"/api/v1/reseller/179/\", \"updated_at\": \"Sun, 24 Feb 2013 06:05:40 -0800\"}, {\"absolute_url\": \"/reseller/276/\", \"allow_branding\": false, \"allow_customer_branding\": [...]
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/reseller/279/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 404
      message: NOT FOUND
    headers: 
      Content-Type: 
      - text/html; charset=utf-8
    body: 
      string: ""
  recorded_at: Wed, 27 Feb 2013 14:09:01 GMT
