--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/domain/4555/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/domain/4555/\", \"active\": true, \"created_at\": \"Thu, 21 Mar 2013 11:39:31 -0700\", \"customer\": \"/api/v1/customer/2341/\", \"deliveryport\": 25, \"hold_email\": false, \"id\": 4555, \"name\": \"apapap.example.com\", \"notification_task\": \"/api/v1/notification_domain_task/57818/\", \"outbound_enabled\": false, \"policy\": \"/api/v1/policy_domain/57885/\", \"resource_uri\": \"/api/v1/domain/4555/\", \"updated_at\": \"Fri, 29 Mar 2013 11:45:50 -0700\", \"userlist_complete\": false}"
  recorded_at: Fri, 29 Mar 2013 18:57:38 GMT
- request: 
    method: post
    uri: https://admin-dev.mailroute.net/api/v1/outbound_server/
    body: 
      string: "{\"domain\":\"/api/v1/domain/4555/\",\"server\":\"127.0.0.2\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 201
      message: CREATED
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://admin-dev.mailroute.net/api/v1/outbound_server/828/
    body: 
      string: "{\"created_at\": \"Fri, 29 Mar 2013 11:57:40 -0700\", \"domain\": \"/api/v1/domain/4555/\", \"id\": 828, \"resource_uri\": \"/api/v1/outbound_server/828/\", \"server\": \"127.0.0.2\", \"updated_at\": \"Fri, 29 Mar 2013 11:57:40 -0700\"}"
  recorded_at: Fri, 29 Mar 2013 18:57:40 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/outbound_server/?domain=4555
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 1}, \"objects\": [{\"created_at\": \"Fri, 29 Mar 2013 11:57:40 -0700\", \"domain\": \"/api/v1/domain/4555/\", \"id\": 828, \"resource_uri\": \"/api/v1/outbound_server/828/\", \"server\": \"127.0.0.2\", \"updated_at\": \"Fri, 29 Mar 2013 11:57:40 -0700\"}]}"
  recorded_at: Fri, 29 Mar 2013 18:57:41 GMT
- request: 
    method: delete
    uri: https://admin-dev.mailroute.net/api/v1/outbound_server/828/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 204
      message: NO CONTENT
    headers: 
      Content-Type: 
      - text/html; charset=utf-8
    body: 
      string: ""
  recorded_at: Fri, 29 Mar 2013 18:57:42 GMT
[...]
