---
http_interactions:
- request:
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/reseller/?limit=10&offset=0
    body:
      string: ""
    headers:
      Authorization:
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      string: "{\"meta\": {\"limit\": 10, \"next\": \"/api/v1/reseller/?limit=10&offset=10\", \"offset\": 0, \"previous\": null, \"total_count\": 127}, \"objects\": [{\"absolute_url\": \"/reseller/205/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/1611/\", \"created_at\": \"Sun, 24 Feb 2013 06:22:32 -0800\", \"id\": 205, \"name\": \"bdf68a3fde12ba23314762aa305b5ec1\", \"resource_uri\": \"/api/v1/reseller/205/\", \"updated_at\": \"Sun, 24 Feb 2013 06:22:32 -0800\"}, {\"absolute_url\": \"/reseller/101/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/1507/\", \"created_at\": \"Sat, 23 Feb 2013 12:10:07 -0800\", \"id\": 101, \"name\": \"bea56460c98fb7a662a96274bd48d147\", \"resource_uri\": \"/api/v1/reseller/101/\", \"updated_at\": \"Sat, 23 Feb 2013 12:10:07 -0800\"}, {\"absolute_url\": \"/reseller/46/\", \"allow_branding\": false, \"allow_customer_branding\": f[...]
[...]
