--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/notification_domain_task/?domain=4157
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 1}, \"objects\": [{\"domain\": \"/api/v1/domain/4157/\", \"domain_bounce_unlisted\": false, \"enabled\": false, \"fri\": true, \"hour\": 9, \"id\": 56266, \"minute\": 1, \"mon\": true, \"priority\": 7, \"resource_uri\": \"/api/v1/notification_domain_task/56266/\", \"sat\": false, \"sun\": false, \"thu\": true, \"timezone\": \"Europe/London\", \"tue\": true, \"wed\": true}]}"
  recorded_at: Fri, 29 Mar 2013 19:50:09 GMT
- request: 
    method: put
    uri: https://admin-dev.mailroute.net/api/v1/notification_domain_task/56266/
    body: 
      string: "{\"domain\":\"/api/v1/domain/4157/\",\"domain_bounce_unlisted\":false,\"enabled\":false,\"fri\":true,\"hour\":8,\"id\":56266,\"minute\":1,\"mon\":true,\"priority\":7,\"resource_uri\":\"/api/v1/notification_domain_task/56266/\",\"sat\":false,\"sun\":false,\"thu\":true,\"timezone\":\"Europe/London\",\"tue\":true,\"wed\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 202
      message: ACCEPTED
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"domain\": \"/api/v1/domain/4157/\", \"domain_bounce_unlisted\": false, \"enabled\": false, \"fri\": true, \"hour\": 8, \"id\": 56266, \"minute\": 1, \"mon\": true, \"priority\": 7, \"resource_uri\": \"/api/v1/notification_domain_task/56266/\", \"sat\": false, \"sun\": false, \"thu\": true, \"timezone\": \"Europe/London\", \"tue\": true, \"wed\": true}"
  recorded_at: Fri, 29 Mar 2013 19:50:11 GMT
[...]
