--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/reseller/4/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/reseller/4/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/48/\", \"created_at\": \"Thu, 7 Jun 2012 08:24:36 -0700\", \"id\": 4, \"name\": \"NE Ohio Web Services\", \"resource_uri\": \"/api/v1/reseller/4/\", \"updated_at\": \"Sun, 10 Mar 2013 10:21:47 -0700\"}"
  recorded_at: Sun, 10 Mar 2013 17:21:53 GMT
- request: 
    method: post
    uri: https://admin-dev.mailroute.net/api/v1/contact_reseller/
    body: 
      string: "{\"address\":\"6110 Dale Street NW\",\"city\":\"Ney York\",\"email\":\"john_doe@example.com\",\"reseller\":\"/api/v1/reseller/4/\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 201
      message: CREATED
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://admin-dev.mailroute.net/api/v1/contact_reseller/1981/
    body: 
      string: "{\"absolute_url\": \"/contacts/reseller/1981/\", \"address\": \"6110 Dale Street NW\", \"address2\": null, \"city\": \"Ney York\", \"country\": \"\", \"created_at\": \"Sun, 10 Mar 2013 10:21:54 -0700\", \"email\": \"john_doe@example.com\", \"first_name\": \"\", \"id\": 1981, \"is_billing\": false, \"is_emergency\": false, \"is_technical\": false, \"last_name\": \"\", \"phone\": null, \"reseller\": \"/api/v1/reseller/4/\", \"resource_uri\": \"/api/v1/contact_reseller/1981/\", \"state\": \"\", \"updated_at\": \"Sun, 10 Mar 2013 10:21:54 -0700\", \"zipcode\": null}"
  recorded_at: Sun, 10 Mar 2013 17:21:54 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/contact_reseller/1981/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/contacts/reseller/1981/\", \"address\": \"6110 Dale Street NW\", \"address2\": null, \"city\": \"Ney York\", \"country\": \"\", \"created_at\": \"Sun, 10 Mar 2013 10:21:54 -0700\", \"email\": \"john_doe@example.com\", \"first_name\": \"\", \"id\": 1981, \"is_billing\": false, \"is_emergency\": false, \"is_technical\": false, \"last_name\": \"\", \"phone\": null, \"reseller\": \"/api/v1/reseller/4/\", \"resource_uri\": \"/api/v1/contact_reseller/1981/\", \"state\": \"\", \"updated_at\": \"Sun, 10 Mar 2013 10:21:54 -0700\", \"zipcode\": null}"
  recorded_at: Sun, 10 Mar 2013 17:21:56 GMT
