--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/contact_reseller/?reseller=4
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 1}, \"objects\": [{\"absolute_url\": \"/contacts/reseller/9/\", \"address\": \"6590 Dale Street NW\", \"address2\": \"\", \"city\": \"Massillon\", \"country\": \"US\", \"created_at\": \"Thu, 7 Jun 2012 08:24:37 -0700\", \"email\": \"lmackey@neohioweb.com\", \"first_name\": \"Larry\", \"id\": 9, \"is_billing\": true, \"is_emergency\": false, \"is_technical\": true, \"last_name\": \"Mackey\", \"phone\": \"330 224 4090\", \"reseller\": \"/api/v1/reseller/4/\", \"resource_uri\": \"/api/v1/contact_reseller/9/\", \"state\": \"OH\", \"updated_at\": \"Thu, 7 Jun 2012 08:24:37 -0700\", \"zipcode\": null}]}"
  recorded_at: Sun, 10 Mar 2013 15:54:33 GMT
