--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/customer/?name__startswith=A
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": \"/api/v1/customer/?name__startswith=A&limit=20&offset=20\", \"offset\": 0, \"previous\": null, \"total_count\": 98}, \"objects\": [{\"absolute_url\": \"/customer/2099/\", \"allow_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/92/\", \"created_at\": \"Wed, 6 Mar 2013 06:46:14 -0800\", \"id\": 2099, \"is_full_user_list\": false, \"name\": \"A Broader View\", \"reported_user_count\": null, \"reseller\": \"/api/v1/reseller/86/\", \"resource_uri\": \"/api/v1/customer/2099/\", \"updated_at\": \"Tue, 12 Mar 2013 20:21:14 -0700\"}, {\"absolute_url\": \"/customer/2341/\", \"allow_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/2135/\", \"created_at\": \"Sat, 16 Mar 2013 08:18:30 -0700\", \"id\": 2341, \"is_full_user_list\": false, \"name\": \"A New Customer\", \"reported_user_count\": null, \"reseller\": \"/api/v1/reseller/4/\", \"resource_uri\": \"/api/v1/customer/2341/\", \"updated_at\": \"Sat, 16 Mar 2013 08:18:30 -0700\"}, {\"absolute_url\": \"/customer/34/\", \"allow_[...]
