--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/domain/4555/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/domain/4555/\", \"active\": true, \"created_at\": \"Thu, 21 Mar 2013 11:39:31 -0700\", \"customer\": \"/api/v1/customer/1300/\", \"deliveryport\": 25, \"hold_email\": false, \"id\": 4555, \"name\": \"apapap.example.com\", \"notification_task\": \"/api/v1/notification_domain_task/57818/\", \"outbound_enabled\": false, \"policy\": \"/api/v1/policy_domain/57885/\", \"resource_uri\": \"/api/v1/domain/4555/\", \"updated_at\": \"Thu, 21 Mar 2013 11:48:31 -0700\", \"userlist_complete\": false}"
  recorded_at: Thu, 21 Mar 2013 19:13:23 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/customer/1300/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/customer/1300/\", \"allow_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/84/\", \"created_at\": \"Fri, 26 Oct 2012 04:18:42 -0700\", \"id\": 1300, \"is_full_user_list\": false, \"name\": \"111testCustomer111cc\", \"reported_user_count\": null, \"reseller\": \"/api/v1/reseller/51/\", \"resource_uri\": \"/api/v1/customer/1300/\", \"updated_at\": \"Thu, 21 Mar 2013 11:48:31 -0700\"}"
  recorded_at: Thu, 21 Mar 2013 19:13:24 GMT
[...]
- request: 
    method: put
    uri: https://admin-dev.mailroute.net/api/v1/domain/4555/
    body: 
      string: "{\"absolute_url\":\"/domain/4555/\",\"active\":true,\"created_at\":\"Thu, 21 Mar 2013 11:39:31 -0700\",\"customer\":\"/api/v1/customer/2341/\",\"deliveryport\":25,\"hold_email\":false,\"id\":4555,\"name\":\"apapap.example.com\",\"notification_task\":\"/api/v1/notification_domain_task/57818/\",\"outbound_enabled\":false,\"policy\":\"/api/v1/policy_domain/57885/\",\"resource_uri\":\"/api/v1/domain/4555/\",\"updated_at\":\"Thu, 21 Mar 2013 11:48:31 -0700\",\"userlist_complete\":false}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 202
      message: ACCEPTED
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/domain/4555/\", \"active\": true, \"created_at\": \"Thu, 21 Mar 2013 11:39:31 -0700\", \"customer\": \"/api/v1/customer/2341/\", \"deliveryport\": 25, \"hold_email\": false, \"id\": 4555, \"name\": \"apapap.example.com\", \"notification_task\": \"/api/v1/notification_domain_task/57818/\", \"outbound_enabled\": false, \"pk\": \"4555\", \"policy\": \"/api/v1/policy_domain/57885/\", \"resource_uri\": \"/api/v1/domain/4555/\", \"updated_at\": \"Thu, 21 Mar 2013 12:13:27 -0700\", \"userlist_complete\": false}"
  recorded_at: Thu, 21 Mar 2013 19:13:27 GMT
[...]
