--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/notification_task/57818/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 404
      message: NOT FOUND
    headers: 
      Content-Type: 
      - text/html; charset=utf-8
    body: 
      string: |-
        <!doctype html>
        <title>not found</title>
        
        <style>
        body { text-align: center;}
        h1 { font-size: 50px; }
        body { font: 20px Constantia, 'Hoefler Text',  "Adobe Caslon Pro", Baskerville, Georgia, Times, serif; color: #999; text-shadow: 2px 2px 2px rgba(200, 200, 200, 0.5); }
        ::-moz-selection{ background:#FF5E99; color:#fff; }
        ::selection { background:#FF5E99; color:#fff; } 
        details { display:block; }
        a { color: rgb(36, 109, 56); text-decoration:none; }
        a:hover { color: rgb(96, 73, 141) ; text-shadow: 2px 2px 2px rgba(36, 109, 56, 0.5); }
        span[frown] { transform: rotate(90deg); display:inline-block; color: #bbb; }
        </style>
        
        
        
        <details>
          <summary><h1>Not found</h1></summary>
          <p><span frown>:(</span></p>
        </details>
  recorded_at: Thu, 21 Mar 2013 18:57:19 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/domain/4555/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/domain/4555/\", \"active\": true, \"created_at\": \"Thu, 21 Mar 2013 11:39:31 -0700\", \"customer\": \"/api/v1/customer/1300/\", \"deliveryport\": 25, \"hold_email\": false, \"id\": 4555, \"name\": \"apapap.example.com\", \"notification_task\": \"/api/v1/notification_domain_task/57818/\", \"outbound_enabled\": false, \"policy\": \"/api/v1/policy_domain/57885/\", \"resource_uri\": \"/api/v1/domain/4555/\", \"updated_at\": \"Thu, 21 Mar 2013 11:48:31 -0700\", \"userlist_complete\": false}"
  recorded_at: Thu, 21 Mar 2013 19:00:44 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/notification_domain_task/57818/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"domain\": \"/api/v1/domain/4555/\", \"domain_bounce_unlisted\": false, \"enabled\": false, \"fri\": true, \"hour\": 7, \"id\": 57818, \"minute\": 0, \"mon\": true, \"priority\": 7, \"resource_uri\": \"/api/v1/notification_domain_task/57818/\", \"sat\": false, \"sun\": false, \"thu\": true, \"timezone\": null, \"tue\": true, \"wed\": true}"
  recorded_at: Thu, 21 Mar 2013 19:00:46 GMT
[...]
