--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/reseller/4/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/reseller/4/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/52/\", \"created_at\": \"Thu, 7 Jun 2012 08:24:36 -0700\", \"id\": 4, \"name\": \"NE Ohio Web Services\", \"resource_uri\": \"/api/v1/reseller/4/\", \"updated_at\": \"Tue, 12 Mar 2013 20:21:14 -0700\"}"
  recorded_at: Sat, 16 Mar 2013 14:00:44 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/admins/reseller/4/?email=admin@example.com
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 1}, \"objects\": [{\"customer\": null, \"date_joined\": \"Sat, 16 Mar 2013 07:00:09 -0700\", \"email\": \"admin@example.com\", \"id\": 43697, \"is_active\": true, \"last_login\": \"Sat, 16 Mar 2013 07:00:09 -0700\", \"reseller\": null, \"resource_uri\": \"/api/v1/admins/reseller/4/admin/43697/\", \"send_welcome\": null, \"username\": \"admin@example.com\"}]}"
  recorded_at: Sat, 16 Mar 2013 14:00:49 GMT
- request: 
    method: delete
    uri: https://admin-dev.mailroute.net/api/v1/admins/reseller/4/admin/43697/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 204
      message: NO CONTENT
    headers: 
      Content-Type: 
      - text/html; charset=utf-8
    body: 
      string: ""
  recorded_at: Sat, 16 Mar 2013 14:00:54 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/admins/reseller/4/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 1}, \"objects\": [{\"customer\": null, \"date_joined\": \"Sat, 16 Mar 2013 06:59:10 -0700\", \"email\": \"admin2@example.com\", \"id\": 43696, \"is_active\": true, \"last_login\": \"Sat, 16 Mar 2013 06:59:10 -0700\", \"reseller\": null, \"resource_uri\": \"/api/v1/admins/reseller/4/admin/43696/\", \"send_welcome\": null, \"username\": \"admin2@example.com\"}]}"
  recorded_at: Sat, 16 Mar 2013 14:00:57 GMT
