---
recorded_with: VCR 2.4.0
http_interactions:
- request:
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/reseller/175/
    body:
      string: ""
    headers:
      Authorization:
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      string: "{\"absolute_url\": \"/reseller/175/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/1581/\", \"created_at\": \"Sun, 24 Feb 2013 06:03:48 -0800\", \"id\": 175, \"name\": \"b7001333b77359eff8cdf90726eee4fd\", \"resource_uri\": \"/api/v1/reseller/175/\", \"updated_at\": \"Sun, 24 Feb 2013 06:03:48 -0800\"}"
  recorded_at: Wed, 27 Feb 2013 14:26:28 GMT
