---
http_interactions:
- request:
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/reseller/
    body:
      string: ""
    headers:
      Authorization:
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      string: "{\"meta\": {\"limit\": 20, \"next\": \"/api/v1/reseller/?limit=20&offset=20\", \"offset\": 0, \"previous\": null, \"total_count\": 120}, \"objects\": [{\"absolute_url\": \"/reseller/279/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/1700/\", \"created_at\": \"Tue, 26 Feb 2013 09:43:43 -0800\", \"id\": 279, \"name\": \"a4e41e344283a4a883e9529fb5208064\", \"resource_uri\": \"/api/v1/reseller/279/\", \"updated_at\": \"Tue, 26 Feb 2013 09:43:43 -0800\"}, {\"absolute_url\": \"/reseller/215/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/1622/\", \"created_at\": \"Mon, 25 Feb 2013 13:05:34 -0800\", \"id\": 215, \"name\": \"a9a039e5a2f1e849df5a8ea4ed4e8914\", \"resource_uri\": \"/api/v1/reseller/215/\", \"updated_at\": \"Tue, 26 Feb 2013 04:37:44 -0800\"}, {\"absolute_url\": \"/reseller/55/\", \"allow_branding\": false, \"allow_customer_branding\": f[...]
