--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/domain/4555/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/domain/4555/\", \"active\": true, \"created_at\": \"Thu, 21 Mar 2013 11:39:31 -0700\", \"customer\": \"/api/v1/customer/2341/\", \"deliveryport\": 25, \"hold_email\": false, \"id\": 4555, \"name\": \"apapap.example.com\", \"notification_task\": \"/api/v1/notification_domain_task/57818/\", \"outbound_enabled\": false, \"policy\": \"/api/v1/policy_domain/57885/\", \"resource_uri\": \"/api/v1/domain/4555/\", \"updated_at\": \"Sat, 23 Mar 2013 11:54:49 -0700\", \"userlist_complete\": false}"
  recorded_at: Sat, 23 Mar 2013 18:57:32 GMT
[...]
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/mail_server/?domain=4555
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 0}, \"objects\": []}"
  recorded_at: Sat, 23 Mar 2013 18:57:34 GMT
- request: 
    method: post
    uri: https://admin-dev.mailroute.net/api/v1/mail_server/
    body: 
      string: "{\"domain\":\"/api/v1/domain/4555/\",\"priority\":8,\"server\":\"xyz.example.com\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 201
      message: CREATED
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://admin-dev.mailroute.net/api/v1/mail_server/4593/
    body: 
      string: "{\"absolute_url\": \"/mail_server/4593/\", \"created_at\": \"Sat, 23 Mar 2013 11:57:36 -0700\", \"domain\": \"/api/v1/domain/4555/\", \"id\": 4593, \"priority\": 8, \"resource_uri\": \"/api/v1/mail_server/4593/\", \"sasl_login\": null, \"sasl_password\": null, \"server\": \"xyz.example.com\", \"updated_at\": \"Sat, 23 Mar 2013 11:57:36 -0700\", \"use_sasl\": false}"
  recorded_at: Sat, 23 Mar 2013 18:57:36 GMT
[...]
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/mail_server/4593/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/mail_server/4593/\", \"created_at\": \"Sat, 23 Mar 2013 11:57:36 -0700\", \"domain\": \"/api/v1/domain/4555/\", \"id\": 4593, \"priority\": 8, \"resource_uri\": \"/api/v1/mail_server/4593/\", \"sasl_login\": null, \"sasl_password\": null, \"server\": \"xyz.example.com\", \"updated_at\": \"Sat, 23 Mar 2013 11:57:36 -0700\", \"use_sasl\": false}"
  recorded_at: Sat, 23 Mar 2013 18:57:47 GMT
- request: 
    method: put
    uri: https://admin-dev.mailroute.net/api/v1/mail_server/4593/
    body: 
      string: "{\"absolute_url\":\"/mail_server/4593/\",\"created_at\":\"Sat, 23 Mar 2013 11:57:36 -0700\",\"domain\":\"/api/v1/domain/4555/\",\"id\":4593,\"priority\":8,\"resource_uri\":\"/api/v1/mail_server/4593/\",\"sasl_login\":null,\"sasl_password\":null,\"server\":\"zyx.example.com\",\"updated_at\":\"Sat, 23 Mar 2013 11:57:36 -0700\",\"use_sasl\":false}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 202
      message: ACCEPTED
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/mail_server/4593/\", \"created_at\": \"Sat, 23 Mar 2013 11:57:36 -0700\", \"domain\": \"/api/v1/domain/4555/\", \"id\": 4593, \"pk\": \"4593\", \"priority\": 8, \"resource_uri\": \"/api/v1/mail_server/4593/\", \"sasl_login\": null, \"sasl_password\": null, \"server\": \"zyx.example.com\", \"updated_at\": \"Sat, 23 Mar 2013 11:57:53 -0700\", \"use_sasl\": false}"
  recorded_at: Sat, 23 Mar 2013 18:57:53 GMT
[...]
