---
recorded_with: VCR 2.5.0
http_interactions:
- request:
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/domain/8372/
    body:
      string: ""
    headers:
      Authorization:
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      string: "{\"absolute_url\": \"/domain/example.com/\", \"active\": true, \"created_at\": \"Tue, 30 Apr 2013 12:02:15 -0700\", \"customer\": \"/api/v1/customer/11371/\", \"deliveryport\": 25, \"hold_email\": false, \"id\": 8372, \"name\": \"example.com\", \"notification_tasks\": [\"/api/v1/notification_domain_task/16919/\", \"/api/v1/notification_domain_task/16926/\", \"/api/v1/notification_domain_task/16927/\"], \"outbound_enabled\": false, \"policy\": \"/api/v1/policy_domain/16390/\", \"resource_uri\": \"/api/v1/domain/8372/\", \"updated_at\": \"Sun, 5 May 2013 06:50:37 -0700\", \"userlist_complete\": true}"
  recorded_at: Mon, 20 May 2013 18:29:47 GMT
- request:
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/notification_domain_task/?domain=8372
    body:
      string: ""
    headers:
      Authorization:
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 3}, \"objects\": [{\"domain\": \"/api/v1/domain/8372/\", \"domain_bounce_unlisted\": true, \"enabled\": false, \"fri\": true, \"hour\": 7, \"id\": 16919, \"minute\": 0, \"mon\": false, \"resource_uri\": \"/api/v1/notification_domain_task/16919/\", \"sat\": false, \"sun\": false, \"thu\": true, \"timezone\": null, \"tue\": true, \"wed\": true}, {\"domain\": \"/api/v1/domain/8372/\", \"domain_bounce_unlisted\": true, \"enabled\": false, \"fri\": false, \"hour\": 11, \"id\": 16926, \"minute\": 12, \"mon\": false, \"resource_uri\": \"/api/v1/notification_domain_task/16926/\", \"sat\": false, \"sun\": false, \"thu\": false, \"timezone\": null, \"tue\": false, \"wed\": false}, {\"domain\": \"/api/v1/domain/8372/\", \"domain_bounce_unlisted\": true, \"enabled\": false, \"fri\": false, \"hour\": 10, \"id\": 16927, \"minute\": 15, \"mon\": false, \"resource_uri\": \"/api/v1/notification_domain_task/16927/\", \"sat\": false, \"sun\": false, \"thu\": false, \"timezone\": null, \"tue\": false, \"wed\": false}]}"
  recorded_at: Mon, 20 May 2013 18:29:48 GMT
- request:
    method: post
    uri: https://admin-dev.mailroute.net/api/v1/notification_domain_task/
    body:
      string: "{\"domain\":\"/api/v1/domain/8372/\",\"minute\":15,\"hour\":10}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Location:
      - https://admin-dev.mailroute.net/api/v1/notification_domain_task/16928/
      Content-Type:
      - application/json; charset=utf-8
    body:
      string: "{\"domain\": \"/api/v1/domain/8372/\", \"domain_bounce_unlisted\": true, \"enabled\": false, \"fri\": false, \"hour\": 10, \"id\": 16928, \"minute\": 15, \"mon\": false, \"resource_uri\": \"/api/v1/notification_domain_task/16928/\", \"sat\": false, \"sun\": false, \"thu\": false, \"timezone\": null, \"tue\": false, \"wed\": false}"
  recorded_at: Mon, 20 May 2013 18:29:49 GMT
[...]
