--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/contact_customer/?customer=4
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 1}, \"objects\": [{\"absolute_url\": \"/contacts/customer/6/\", \"address\": \"Unit 1 Albany Park Ind est\", \"address2\": \"\", \"city\": \"Camberley\", \"country\": \"UK\", \"created_at\": \"Thu, 7 Jun 2012 08:24:35 -0700\", \"customer\": \"/api/v1/customer/4/\", \"email\": \"m.hatch@protouch.co.uk\", \"first_name\": \"Mike\", \"id\": 6, \"is_billing\": true, \"is_emergency\": false, \"is_technical\": true, \"last_name\": \"Hatch\", \"phone\": \"+44 (0) 1276 401140\", \"resource_uri\": \"/api/v1/contact_customer/6/\", \"state\": \"Surrey (UK)\", \"updated_at\": \"Thu, 7 Jun 2012 08:24:35 -0700\", \"zipcode\": null}]}"
  recorded_at: Sat, 16 Mar 2013 17:26:45 GMT
