--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/domain/4555/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 404
      message: NOT FOUND
    headers: 
      Content-Type: 
      - text/html; charset=utf-8
    body: 
      string: ""
  recorded_at: Sat, 30 Mar 2013 10:21:33 GMT
- request: 
    method: put
    uri: https://admin-dev.mailroute.net/api/v1/wblist/1882131/
    body: 
      string: "{\"domain\":\"/api/v1/domain/7/\",\"email\":\"x@example.com\",\"email_account\":null,\"id\":1882131,\"mail_addr\":\"/api/v1/mailaddr/273718/\",\"resource_uri\":\"/api/v1/wblist/1882131/\",\"wb\":\"w\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 405
      message: METHOD NOT ALLOWED
    headers: 
      Allow: 
      - GET,POST,DELETE
      Content-Type: 
      - text/html; charset=utf-8
    body: 
      string: GET,POST,DELETE
  recorded_at: Sat, 30 Mar 2013 10:23:38 GMT
[...]
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/domain/7/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/domain/7/\", \"active\": true, \"created_at\": \"Thu, 7 Jun 2012 08:24:37 -0700\", \"customer\": \"/api/v1/customer/6/\", \"deliveryport\": 25, \"hold_email\": false, \"id\": 7, \"name\": \"3utech.com\", \"notification_task\": \"/api/v1/notification_domain_task/26/\", \"outbound_enabled\": false, \"policy\": \"/api/v1/policy_domain/27/\", \"resource_uri\": \"/api/v1/domain/7/\", \"updated_at\": \"Sat, 8 Sep 2012 03:10:56 -0700\", \"userlist_complete\": true}"
  recorded_at: Sat, 30 Mar 2013 10:27:56 GMT
- request: 
    method: post
    uri: https://admin-dev.mailroute.net/api/v1/wblist/
    body: 
      string: "{\"domain\":\"/api/v1/domain/7/\",\"email\":\"noreply@example.com\",\"wb\":\"b\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 201
      message: CREATED
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://admin-dev.mailroute.net/api/v1/wblist/1882134/
    body: 
      string: "{\"domain\": \"/api/v1/domain/7/\", \"email\": \"noreply@example.com\", \"email_account\": null, \"id\": 1882134, \"mail_addr\": \"/api/v1/mailaddr/273719/\", \"resource_uri\": \"/api/v1/wblist/1882134/\", \"wb\": \"b\"}"
  recorded_at: Sat, 30 Mar 2013 10:28:02 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/wblist/?domain=7&wb=b
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 3}, \"objects\": [{\"domain\": \"/api/v1/domain/7/\", \"email\": \"dontreply@example.com\", \"email_account\": null, \"id\": 1882130, \"mail_addr\": \"/api/v1/mailaddr/273717/\", \"resource_uri\": \"/api/v1/wblist/1882130/\", \"wb\": \"b\"}, {\"domain\": \"/api/v1/domain/7/\", \"email\": \"dont0reply@example.com\", \"email_account\": null, \"id\": 1882131, \"mail_addr\": \"/api/v1/mailaddr/273718/\", \"resource_uri\": \"/api/v1/wblist/1882131/\", \"wb\": \"b\"}, {\"domain\": \"/api/v1/domain/7/\", \"email\": \"noreply@example.com\", \"email_account\": null, \"id\": 1882134, \"mail_addr\": \"/api/v1/mailaddr/273719/\", \"resource_uri\": \"/api/v1/wblist/1882134/\", \"wb\": \"b\"}]}"
  recorded_at: Sat, 30 Mar 2013 10:28:03 GMT
[...]
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/wblist/?domain=7
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": \"/api/v1/wblist/?domain=7&limit=20&offset=20\", \"offset\": [...]
