--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/customer/?limit=3&offset=20&q%5Bname%5D=e
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 3, \"next\": \"/api/v1/customer/?q%5Bname%5D=e&limit=3&offset=23\", \"offset\": 20, \"previous\": \"/api/v1/customer/?q%5Bname%5D=e&limit=3&offset=17\", \"total_count\": 1746}, \"objects\": [{\"absolute_url\": \"/customer/1671/\", \"allow_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/1647/\", \"created_at\": \"Tue, 26 Feb 2013 04:15:43 -0800\", \"id\": 1671, \"is_full_user_list\": false, \"name\": \"98f8ae40786dca212f63dea8ee2fb0c2\", \"reported_user_count\": null, \"reseller\": \"/api/v1/reseller/4/\", \"resource_uri\": \"/api/v1/customer/1671/\", \"updated_at\": \"Tue, 26 Feb 2013 04:15:43 -0800\"}, {\"absolute_url\": \"/customer/34/\", \"allow_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/85/\", \"created_at\": \"Thu, 7 Jun 2012 15:25:54 -0700\", \"id\": 34, \"is_full_user_list\": false, \"name\": \"A&E Tax Service\", \"reported_user_count\": null, \"reseller\": \"/api/v1/reseller/1/\", \"resource_uri\": \"/api/v1/customer/34/\", \"updated_at\": \"Fri, 22 Feb 2013 15:29:20 -0800\"}, {\"absolute_url\": \"/customer/1690/\", \"allow_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/1757/\", \"created_at\": \"Tue, 26 Feb 2013 14:43:41 -0800\", \"id\": 1690, \"is_full_user_list\": false, \"name\": \"a30d1cd867ffff56724d2c1cca1e7d91\", \"reported_user_count\": null, \"reseller\": \"/api/v1/reseller/4/\", \"resource_uri\": \"/api/v1/customer/1690/\", \"updated_at\": \"Tue, 26 Feb 2013 14:43:41 -0800\"}]}"
  recorded_at: Sun, 03 Mar 2013 16:09:25 GMT
