--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/notification_account_task/?email_account=22
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 1}, \"objects\": [{\"email_account\": \"/api/v1/email_account/22/\", \"enable_default\": true, \"enabled\": false, \"fri\": true, \"hour\": 8, \"id\": 29, \"minute\": 32, \"mon\": true, \"priority\": 1, \"resource_uri\": \"/api/v1/notification_account_task/29/\", \"sat\": false, \"sun\": false, \"thu\": true, \"timezone\": \"Europe/London\", \"tue\": true, \"wed\": true}]}"
  recorded_at: Sat, 30 Mar 2013 09:48:36 GMT
- request: 
    method: put
    uri: https://admin-dev.mailroute.net/api/v1/notification_account_task/29/
    body: 
      string: "{\"email_account\":\"/api/v1/email_account/22/\",\"enable_default\":true,\"enabled\":false,\"fri\":true,\"hour\":8,\"id\":29,\"minute\":31,\"mon\":true,\"priority\":1,\"resource_uri\":\"/api/v1/notification_account_task/29/\",\"sat\":false,\"sun\":false,\"thu\":true,\"timezone\":\"Europe/London\",\"tue\":true,\"wed\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 202
      message: ACCEPTED
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"email_account\": \"/api/v1/email_account/22/\", \"enable_default\": true, \"enabled\": false, \"fri\": true, \"hour\": 8, \"id\": 29, \"minute\": 31, \"mon\": true, \"priority\": 1, \"resource_uri\": \"/api/v1/notification_account_task/29/\", \"sat\": false, \"sun\": false, \"thu\": true, \"timezone\": \"Europe/London\", \"tue\": true, \"wed\": true}"
  recorded_at: Sat, 30 Mar 2013 09:48:37 GMT
[...]
