--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/reseller/1443/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/reseller/1443/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/3435/\", \"created_at\": \"Sun, 3 Mar 2013 04:01:59 -0800\", \"id\": 1443, \"name\": \"04bcee44bc911c9275c121fc25378b49\", \"resource_uri\": \"/api/v1/reseller/1443/\", \"updated_at\": \"Sun, 3 Mar 2013 04:02:01 -0800\"}"
  recorded_at: Sun, 03 Mar 2013 14:58:37 GMT
[...]
