--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/reseller/4/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/reseller/4/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/52/\", \"contacts\": [\"/api/v1/contact_reseller/9/\"], \"created_at\": \"Thu, 7 Jun 2012 08:24:36 -0700\", \"customers\": [\"/api/v1/customer/2341/\", \"/api/v1/customer/2348/\", \"/api/v1/customer/2349/\", \"/api/v1/customer/6/\", \"/api/v1/customer/2343/\", \"/api/v1/customer/2345/\", \"/api/v1/customer/2344/\", \"/api/v1/customer/2340/\", \"/api/v1/customer/2346/\", \"/api/v1/customer/2347/\", \"/api/v1/customer/2342/\"], \"id\": 4, \"name\": \"NE Ohio Web Services\", \"resource_uri\": \"/api/v1/reseller/4/\", \"updated_at\": \"Thu, 28 Mar 2013 12:27:49 -0700\"}"
  recorded_at: Thu, 28 Mar 2013 19:29:06 GMT
- request: 
    method: post
    uri: https://admin-dev.mailroute.net/api/v1/contact_reseller/
    body: 
      string: "{\"email\":\"haskell@example.com\",\"reseller\":\"/api/v1/reseller/4/\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 201
      message: CREATED
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://admin-dev.mailroute.net/api/v1/contact_reseller/1657/
    body: 
      string: "{\"absolute_url\": \"/contacts/reseller/1657/\", \"address\": null, \"address2\": null, \"city\": \"\", \"country\": \"\", \"created_at\": \"Thu, 28 Mar 2013 12:29:07 -0700\", \"email\": \"haskell@example.com\", \"first_name\": \"\", \"id\": 1657, \"is_billing\": false, \"is_emergency\": false, \"is_technical\": false, \"last_name\": \"\", \"phone\": null, \"reseller\": \"/api/v1/reseller/4/\", \"resource_uri\": \"/api/v1/contact_reseller/1657/\", \"state\": \"\", \"updated_at\": \"Thu, 28 Mar 2013 12:29:07 -0700\", \"zipcode\": null}"
  recorded_at: Thu, 28 Mar 2013 19:29:07 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/contact_reseller/1657/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/contacts/reseller/1657/\", \"address\": null, \"address2\": null, \"city\": \"\", \"country\": \"\", \"created_at\": \"Thu, 28 Mar 2013 12:29:07 -0700\", \"email\": \"haskell@example.com\", \"first_name\": \"\", \"id\": 1657, \"is_billing\": false, \"is_emergency\": false, \"is_technical\": false, \"last_name\": \"\", \"phone\": null, \"reseller\": \"/api/v1/reseller/4/\", \"resource_uri\": \"/api/v1/contact_reseller/1657/\", \"state\": \"\", \"updated_at\": \"Thu, 28 Mar 2013 12:29:07 -0700\", \"zipcode\": null}"
  recorded_at: Thu, 28 Mar 2013 19:29:08 GMT
- request: 
    method: put
    uri: https://admin-dev.mailroute.net/api/v1/contact_reseller/1657/
    body: 
      string: "{\"absolute_url\":\"/contacts/reseller/1657/\",\"address\":null,\"address2\":null,\"city\":\"Minsk\",\"country\":\"\",\"created_at\":\"Thu, 28 Mar 2013 12:29:07 -0700\",\"email\":\"haskell@example.com\",\"first_name\":\"\",\"id\":1657,\"is_billing\":false,\"is_emergency\":false,\"is_technical\":false,\"last_name\":\"\",\"phone\":null,\"reseller\":\"/api/v1/reseller/4/\",\"resource_uri\":\"/api/v1/contact_reseller/1657/\",\"state\":\"\",\"updated_at\":\"Thu, 28 Mar 2013 12:29:07 -0700\",\"zipcode\":null}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 202
      message: ACCEPTED
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/contacts/reseller/1657/\", \"address\": null, \"address2\": null, \"city\": \"Minsk\", \"country\": \"\", \"created_at\": \"Thu, 28 Mar 2013 12:29:07 -0700\", \"email\": \"haskell@example.com\", \"first_name\": \"\", \"id\": 1657, \"is_billing\": false, \"is_emergency\": false, \"is_technical\": false, \"last_name\": \"\", \"phone\": null, \"pk\": \"1657\", \"reseller\": \"/api/v1/reseller/4/\", \"resource_uri\": \"/api/v1/contact_reseller/1657/\", \"state\": \"\", \"updated_at\": \"Thu, 28 Mar 2013 12:29:09 -0700\", \"zipcode\": null}"
  recorded_at: Thu, 28 Mar 2013 19:29:09 GMT
[...]
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/contact_reseller/?reseller=4
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 1}, \"objects\": [{\"absolute_url\": \"/contacts/reseller/9/\", \"address\": \"6590 Dale Street NW\", \"address2\": \"\", \"city\": \"Massillon\", \"country\": \"US\", \"created_at\": \"Thu, 7 Jun 2012 08:24:37 -0700\", \"email\": \"lmackey@neohioweb.com\", \"first_name\": \"Larry\", \"id\": 9, \"is_billing\": true, \"is_emergency\": false, \"is_technical\": true, \"last_name\": \"Mackey\", \"phone\": \"330 224 4090\", \"reseller\": \"/api/v1/reseller/4/\", \"resource_uri\": \"/api/v1/contact_reseller/9/\", \"state\": \"OH\", \"updated_at\": \"Thu, 7 Jun 2012 08:24:37 -0700\", \"zipcode\": null}]}"
  recorded_at: Thu, 28 Mar 2013 19:29:15 GMT
