--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/reseller/1382/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/reseller/1382/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/3374/\", \"created_at\": \"Sat, 2 Mar 2013 15:22:28 -0800\", \"id\": 1382, \"name\": \"011c3e41789dc69402296b304ec443f6\", \"resource_uri\": \"/api/v1/reseller/1382/\", \"updated_at\": \"Sat, 2 Mar 2013 15:22:28 -0800\"}"
  recorded_at: Sun, 03 Mar 2013 14:26:52 GMT
- request: 
    method: put
    uri: https://admin-dev.mailroute.net/api/v1/reseller/1382/
    body: 
      string: "{\"absolute_url\":\"/reseller/1382/\",\"allow_branding\":true,\"allow_customer_branding\":false,\"branding_info\":\"/api/v1/brandinginfo/3374/\",\"created_at\":\"Sat, 2 Mar 2013 15:22:28 -0800\",\"id\":1382,\"name\":\"011c3e41789dc69402296b304ec443f6\",\"resource_uri\":\"/api/v1/reseller/1382/\",\"updated_at\":\"Sat, 2 Mar 2013 15:22:28 -0800\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 202
      message: ACCEPTED
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/reseller/1382/\", \"allow_branding\": true, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/3374/\", \"created_at\": \"Sat, 2 Mar 2013 15:22:28 -0800\", \"id\": 1382, \"name\": \"011c3e41789dc69402296b304ec443f6\", \"pk\": \"1382\", \"resource_uri\": \"/api/v1/reseller/1382/\", \"updated_at\": \"Sun, 3 Mar 2013 06:26:53 -0800\"}"
  recorded_at: Sun, 03 Mar 2013 14:26:53 GMT
[...]
