---
recorded_with: VCR 2.4.0
http_interactions:
- request:
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/reseller/4/
    body:
      string: ""
    headers:
      Authorization:
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      string: "{\"absolute_url\": \"/reseller/4/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/48/\", \"created_at\": \"Thu, 7 Jun 2012 08:24:36 -0700\", \"id\": 4, \"name\": \"NE Ohio Web Services\", \"resource_uri\": \"/api/v1/reseller/4/\", \"updated_at\": \"Sun, 10 Mar 2013 10:36:48 -0700\"}"
  recorded_at: Sun, 10 Mar 2013 19:34:36 GMT
- request:
    method: post
    uri: https://admin-dev.mailroute.net/api/v1/customer/
    body:
      string: "{\"name\":\"New Customer\",\"reseller\":\"/api/v1/reseller/4/\"}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://admin-dev.mailroute.net/api/v1/customer/3298/
    body:
      string: "{\"absolute_url\": \"/customer/3298/\", \"allow_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/6084/\", \"created_at\": \"Sun, 10 Mar 2013 12:34:37 -0700\", \"id\": 3298, \"is_full_user_list\": false, \"name\": \"New Customer\", \"reported_user_count\": null, \"reseller\": \"/api/v1/reseller/4/\", \"resource_uri\": \"/api/v1/customer/3298/\", \"updated_at\": \"Sun, 10 Mar 2013 12:34:37 -0700\"}"
  recorded_at: Sun, 10 Mar 2013 19:34:38 GMT
