--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/email_account/53282/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/user/53282/\", \"aliases\": \"\", \"change_pwd\": null, \"contact\": \"/api/v1/contact_email_account/1654/\", \"create_opt\": null, \"created_at\": \"Sat, 23 Mar 2013 13:07:09 -0700\", \"domain\": \"/api/v1/domain/4555/\", \"domain_name\": \"apapap.example.com\", \"id\": 53282, \"localpart\": \"sales\", \"notification_task\": \"/api/v1/notification_account_task/57820/\", \"policy\": \"/api/v1/policy_user/57887/\", \"priority\": 8, \"resource_uri\": \"/api/v1/email_account/53282/\", \"updated_at\": \"Sat, 23 Mar 2013 13:37:03 -0700\"}"
  recorded_at: Sat, 23 Mar 2013 20:38:37 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/contact_email_account/1654/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/contacts/email_account/1654/\", \"address\": null, \"address2\": null, \"city\": \"\", \"country\": \"\", \"created_at\": \"Sat, 23 Mar 2013 13:37:03 -0700\", \"email\": \"support@example.com\", \"email_account\": \"/api/v1/email_account/53282/\", \"first_name\": \"\", \"id\": 1654, \"is_billing\": false, \"is_emergency\": false, \"is_technical\": false, \"last_name\": \"\", \"phone\": null, \"resource_uri\": \"/api/v1/contact_email_account/1654/\", \"state\": \"\", \"updated_at\": \"Sat, 23 Mar 2013 13:37:03 -0700\", \"zipcode\": null}"
  recorded_at: Sat, 23 Mar 2013 20:38:38 GMT
