--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/admins/reseller/371/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 404
      message: NOT FOUND
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"error_message\": \"No Reseller matches the given query.\", \"traceback\": \"Traceback (most recent call last):\\n\\n  File \\\"/home/mroute/venv/ci/lib/python2.7/site-packages/tastypie/resources.py\\\", line 202, in wrapper\\n    response = callback(request, *args, **kwargs)\\n\\n  File \\\"/home/mroute/venv/ci/lib/python2.7/site-packages/tastypie/resources.py\\\", line 441, in dispatch_list\\n    return self.dispatch('list', request, **kwargs)\\n\\n  File \\\"apps/amavisd/api/resources.py\\\", line 1245, in dispatch\\n    self._extract_owner(kwargs, request)\\n\\n  File \\\"apps/amavisd/api/resources.py\\\", line 1238, in _extract_owner\\n    self.owner_obj = get_object_or_404(Reseller, pk=self.obj_id)\\n\\n  File \\\"/home/mroute/venv/ci/lib/python2.7/site-packages/django/shortcuts/__init__.py\\\", line 115, in get_object_or_404\\n    raise Http404('No %s matches the given query.' % queryset.model._meta.object_name)\\n\\nHttp404: No Reseller matches the given query.\\n\"}"
  recorded_at: Mon, 11 Mar 2013 20:09:24 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/admins/reseller/2640/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 1}, \"objects\": [{\"customer\": null, \"date_joined\": \"Mon, 4 Mar 2013 17:26:59 -0800\", \"email\": \"1338040264095b29dd507f2ca8aa07cd@mail.ru\", \"id\": 41573, \"is_active\": true, \"last_login\": \"Mon, 4 Mar 2013 17:26:59 -0800\", \"reseller\": null, \"resource_uri\": \"/api/v1/admins/reseller/2640/admin/41573/\", \"send_welcome\": null, \"username\": \"1338040264095b29dd507f2ca8aa07cd@mail.ru\"}]}"
  recorded_at: Mon, 11 Mar 2013 20:12:58 GMT
