---
recorded_with: VCR 2.4.0
http_interactions:
- request:
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/admins/reseller/2640/
    body:
      string: ""
    headers:
      Authorization:
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 1}, \"objects\": [{\"customer\": null, \"date_joined\": \"Mon, 4 Mar 2013 17:26:59 -0800\", \"email\": \"1338040264095b29dd507f2ca8aa07cd@mail.ru\", \"id\": 41573, \"is_active\": true, \"last_login\": \"Mon, 4 Mar 2013 17:26:59 -0800\", \"reseller\": null, \"resource_uri\": \"/api/v1/admins/reseller/2640/admin/41573/\", \"send_welcome\": null, \"username\": \"1338040264095b29dd507f2ca8aa07cd@mail.ru\"}]}"
  recorded_at: Mon, 11 Mar 2013 20:12:58 GMT
