--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/reseller/
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": \"/api/v1/reseller/?limit=20&offset=20\", \"offset\": 0, \"previous\": null, \"total_count\": 117}, \"objects\": [{\"absolute_url\": \"/reseller/269/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/1682/\", \"created_at\": \"Tue, 26 Feb 2013 04:42:57 -0800\", \"id\": 269, \"name\": \"a03c56a13b0b1a13a39b6b1bb5e9f084\", \"resource_uri\": \"/api/v1/reseller/269/\", \"updated_at\": \"Tue, 26 Feb 2013 04:42:57 -0800\"}, {\"absolute_url\": \"/reseller/169/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/1575/\", \"created_at\": \"Sun, 24 Feb 2013 05:16:06 -0800\", \"id\": 169, \"name\": \"a195dc541355de3aa53a361a48d8e7a2\", \"resource_uri\": \"/api/v1/reseller/169/\", \"updated_at\": \"Sun, 24 Feb 2013 05:16:06 -0800\"}, {\"absolute_url\": \"/reseller/279/\", \"allow_branding\": false, \"allow_customer_branding\": [...]
