--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/email_account/53283/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/user/53283/\", \"aliases\": \"\", \"change_pwd\": null, \"contact\": null, \"create_opt\": null, \"created_at\": \"Fri, 29 Mar 2013 11:36:39 -0700\", \"domain\": \"/api/v1/domain/4555/\", \"domain_name\": \"apapap.example.com\", \"id\": 53283, \"localpart\": \"sales\", \"notification_task\": \"/api/v1/notification_account_task/57821/\", \"policy\": \"/api/v1/policy_user/57888/\", \"priority\": 8, \"resource_uri\": \"/api/v1/email_account/53283/\", \"updated_at\": \"Fri, 29 Mar 2013 11:36:39 -0700\"}"
  recorded_at: Fri, 29 Mar 2013 18:37:16 GMT
- request: 
    method: post
    uri: https://admin-dev.mailroute.net/api/v1/contact_email_account/
    body: 
      string: "{\"email\":\"haskell@example.com\",\"email_account\":\"/api/v1/email_account/53283/\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 201
      message: CREATED
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://admin-dev.mailroute.net/api/v1/contact_email_account/1659/
    body: 
      string: "{\"absolute_url\": \"/contacts/email_account/1659/\", \"address\": null, \"address2\": null, \"city\": \"\", \"country\": \"\", \"created_at\": \"Fri, 29 Mar 2013 11:37:17 -0700\", \"email\": \"sales@apapap.example.com\", \"email_account\": \"/api/v1/email_account/53283/\", \"first_name\": \"\", \"id\": 1659, \"is_billing\": false, \"is_emergency\": false, \"is_technical\": false, \"last_name\": \"\", \"phone\": null, \"resource_uri\": \"/api/v1/contact_email_account/1659/\", \"state\": \"\", \"updated_at\": \"Fri, 29 Mar 2013 11:37:17 -0700\", \"zipcode\": null}"
  recorded_at: Fri, 29 Mar 2013 18:37:17 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/contact_email_account/1659/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/contacts/email_account/1659/\", \"address\": null, \"address2\": null, \"city\": \"\", \"country\": \"\", \"created_at\": \"Fri, 29 Mar 2013 11:37:17 -0700\", \"email\": \"haskell@example.com\", \"email_account\": \"/api/v1/email_account/53283/\", \"first_name\": \"\", \"id\": 1659, \"is_billing\": false, \"is_emergency\": false, \"is_technical\": false, \"last_name\": \"\", \"phone\": null, \"resource_uri\": \"/api/v1/contact_email_account/1659/\", \"state\": \"\", \"updated_at\": \"Fri, 29 Mar 2013 11:37:17 -0700\", \"zipcode\": null}"
  recorded_at: Fri, 29 Mar 2013 18:37:18 GMT
- request: 
    method: put
    uri: https://admin-dev.mailroute.net/api/v1/contact_email_account/1659/
    body: 
      string: "{\"absolute_url\":\"/contacts/email_account/1659/\",\"address\":null,\"address2\":null,\"city\":\"Minsk\",\"country\":\"\",\"created_at\":\"Fri, 29 Mar 2013 11:37:17 -0700\",\"email\":\"haskell@example.com\",\"email_account\":\"/api/v1/email_account/53283/\",\"first_name\":\"\",\"id\":1659,\"is_billing\":false,\"is_emergency\":false,\"is_technical\":false,\"last_name\":\"\",\"phone\":null,\"resource_uri\":\"/api/v1/contact_email_account/1659/\",\"state\":\"\",\"updated_at\":\"Fri, 29 Mar 2013 11:37:17 -0700\",\"zipcode\":null}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 202
      message: ACCEPTED
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/contacts/email_account/1659/\", \"address\": null, \"address2\": null, \"city\": \"Minsk\", \"country\": \"\", \"created_at\": \"Fri, 29 Mar 2013 11:37:17 -0700\", \"email\": \"sales@apapap.example.com\", \"email_account\": \"/api/v1/email_account/53283/\", \"first_name\": \"\", \"id\": 1659, \"is_billing\": false, \"is_emergency\": false, \"is_technical\": false, \"last_name\": \"\", \"phone\": null, \"pk\": \"1659\", \"resource_uri\": \"/api/v1/contact_email_account/1659/\", \"state\": \"\", \"updated_at\": \"Fri, 29 Mar 2013 11:37:20 -0700\", \"zipcode\": null}"
  recorded_at: Fri, 29 Mar 2013 18:37:20 GMT
[...]
