--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/domain/4555/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/domain/4555/\", \"active\": true, \"created_at\": \"Thu, 21 Mar 2013 11:39:31 -0700\", \"customer\": \"/api/v1/customer/2341/\", \"deliveryport\": 25, \"hold_email\": false, \"id\": 4555, \"name\": \"apapap.example.com\", \"notification_task\": \"/api/v1/notification_domain_task/57818/\", \"outbound_enabled\": false, \"policy\": \"/api/v1/policy_domain/57885/\", \"resource_uri\": \"/api/v1/domain/4555/\", \"updated_at\": \"Sat, 23 Mar 2013 11:57:53 -0700\", \"userlist_complete\": false}"
  recorded_at: Sat, 23 Mar 2013 19:59:29 GMT
[...]
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/email_account/?domain=4555
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 0}, \"objects\": []}"
  recorded_at: Sat, 23 Mar 2013 19:59:31 GMT
- request: 
    method: post
    uri: https://admin-dev.mailroute.net/api/v1/email_account/
    body: 
      string: "{\"create_opt\":\"generate_pwd\",\"domain\":\"/api/v1/domain/4555/\",\"localpart\":\"sales\",\"name\":\"xyz.example.com\",\"send_welcome\":false}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 201
      message: CREATED
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://admin-dev.mailroute.net/api/v1/email_account/53281/
    body: 
      string: "{\"absolute_url\": \"/user/53281/\", \"aliases\": \"\", \"change_pwd\": null, \"contact\": null, \"create_opt\": null, \"created_at\": \"Sat, 23 Mar 2013 12:59:33 -0700\", \"domain\": \"/api/v1/domain/4555/\", \"domain_name\": \"apapap.example.com\", \"id\": 53281, \"localpart\": \"sales\", \"name\": \"xyz.example.com\", \"notification_task\": \"/api/v1/notification_account_task/57819/\", \"policy\": \"/api/v1/policy_user/57886/\", \"priority\": 8, \"resource_uri\": \"/api/v1/email_account/53281/\", \"send_welcome\": false, \"updated_at\": \"Sat, 23 Mar 2013 12:59:33 -0700\"}"
  recorded_at: Sat, 23 Mar 2013 19:59:33 GMT
[...]
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/email_account/53281/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/user/53281/\", \"aliases\": \"\", \"change_pwd\": null, \"contact\": null, \"create_opt\": null, \"created_at\": \"Sat, 23 Mar 2013 12:59:33 -0700\", \"domain\": \"/api/v1/domain/4555/\", \"domain_name\": \"apapap.example.com\", \"id\": 53281, \"localpart\": \"sales\", \"notification_task\": \"/api/v1/notification_account_task/57819/\", \"policy\": \"/api/v1/policy_user/57886/\", \"priority\": 8, \"resource_uri\": \"/api/v1/email_account/53281/\", \"updated_at\": \"Sat, 23 Mar 2013 12:59:33 -0700\"}"
  recorded_at: Sat, 23 Mar 2013 19:59:37 GMT
- request: 
    method: put
    uri: https://admin-dev.mailroute.net/api/v1/email_account/53281/
    body: 
      string: "{\"absolute_url\":\"/user/53281/\",\"aliases\":\"\",\"change_pwd\":null,\"contact\":null,\"create_opt\":null,\"created_at\":\"Sat, 23 Mar 2013 12:59:33 -0700\",\"domain\":\"/api/v1/domain/4555/\",\"domain_name\":\"apapap.example.com\",\"id\":53281,\"localpart\":\"marketing\",\"name\":\"xyz.example.com\",\"notification_task\":\"/api/v1/notification_account_task/57819/\",\"policy\":\"/api/v1/policy_user/57886/\",\"priority\":8,\"resource_uri\":\"/api/v1/email_account/53281/\",\"send_welcome\":false,\"updated_at\":\"Sat, 23 Mar 2013 12:59:33 -0700\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 202
      message: ACCEPTED
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/user/53281/\", \"aliases\": \"\", \"change_pwd\": null, \"contact\": null, \"create_opt\": null, \"created_at\": \"Sat, 23 Mar 2013 12:59:33 -0700\", \"domain\": \"/api/v1/domain/4555/\", \"domain_name\": \"apapap.example.com\", \"id\": 53281, \"localpart\": \"marketing\", \"name\": \"xyz.example.com\", \"notification_task\": \"/api/v1/notification_account_task/57819/\", \"pk\": \"53281\", \"policy\": \"/api/v1/policy_user/57886/\", \"priority\": 8, \"resource_uri\": \"/api/v1/email_account/53281/\", \"send_welcome\": false, \"updated_at\": \"Sat, 23 Mar 2013 12:59:38 -0700\"}"
  recorded_at: Sat, 23 Mar 2013 19:59:38 GMT
[...]
