---
recorded_with: VCR 2.4.0
http_interactions:
- request:
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/email_account/7718/
    body:
      string: ""
    headers:
      Authorization:
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      string: "{\"absolute_url\": \"/user/7718/\", \"aliases\": \"\", \"change_pwd\": null, \"contact\": null, \"create_opt\": null, \"created_at\": \"Wed, 1 May 2013 12:03:04 -0700\", \"domain\": \"/api/v1/domain/8372/\", \"domain_name\": \"example.com\", \"id\": 7718, \"localpart\": \"admin\", \"notification_tasks\": [\"/api/v1/notification_account_task/16924/\"], \"policy\": \"/api/v1/policy_user/16395/\", \"priority\": 8, \"resource_uri\": \"/api/v1/email_account/7718/\", \"updated_at\": \"Sun, 5 May 2013 07:39:33 -0700\", \"use_domain_notifications\": true}"
  recorded_at: Sun, 05 May 2013 14:41:11 GMT
- request:
    method: post
    uri: https://admin-dev.mailroute.net/api/v1/localpart_alias/
    body:
      string: "{\"localpart\":\"support\",\"email_account\":\"/api/v1/email_account/7718/\"}"
    headers:
      Authorization:
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Location:
      - https://admin-dev.mailroute.net/api/v1/localpart_alias/8796/
      Content-Type:
      - application/json; charset=utf-8
    body:
      string: "{\"created_at\": \"Sun, 5 May 2013 07:41:12 -0700\", \"domain\": \"/api/v1/domain/8372/\", \"email_account\": \"/api/v1/email_account/7718/\", \"id\": 8796, \"localpart\": \"support\", \"resource_uri\": \"/api/v1/localpart_alias/8796/\", \"type\": \"alias\", \"updated_at\": \"Sun, 5 May 2013 07:41:12 -0700\"}"
  recorded_at: Sun, 05 May 2013 14:41:12 GMT
- request:
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/localpart_alias/8796/
    body:
      string: ""
    headers:
      Authorization:
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      string: "{\"created_at\": \"Sun, 5 May 2013 07:41:12 -0700\", \"domain\": \"/api/v1/domain/8372/\", \"email_account\": \"/api/v1/email_account/7718/\", \"id\": 8796, \"localpart\": \"support\", \"resource_uri\": \"/api/v1/localpart_alias/8796/\", \"type\": \"alias\", \"updated_at\": \"Sun, 5 May 2013 07:41:12 -0700\"}"
  recorded_at: Sun, 05 May 2013 14:41:13 GMT
- request:
    method: put
    uri: https://admin-dev.mailroute.net/api/v1/localpart_alias/8796/
    body:
      string: "{\"updated_at\":\"Sun, 5 May 2013 07:41:12 -0700\",\"type\":\"alias\",\"resource_uri\":\"/api/v1/localpart_alias/8796/\",\"created_at\":\"Sun, 5 May 2013 07:41:12 -0700\",\"domain\":\"/api/v1/domain/8372/\",\"localpart\":\"help\",\"id\":8796,\"email_account\":\"/api/v1/email_account/7718/\"}"
    headers:
      Authorization:
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: ACCEPTED
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      string: "{\"created_at\": \"Sun, 5 May 2013 07:41:12 -0700\", \"domain\": \"/api/v1/domain/8372/\", \"email_account\": \"/api/v1/email_account/7718/\", \"id\": 8796, \"localpart\": \"help\", \"pk\": \"8796\", \"resource_uri\": \"/api/v1/localpart_alias/8796/\", \"type\": \"alias\", \"updated_at\": \"Sun, 5 May 2013 07:41:15 -0700\"}"
  recorded_at: Sun, 05 May 2013 14:41:15 GMT
[...]
- request:
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/domain/8372/
    body:
      string: ""
    headers:
      Authorization:
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      string: "{\"absolute_url\": \"/domain/8372/\", \"active\": true, \"created_at\": \"Tue, 30 Apr 2013 12:02:15 -0700\", \"customer\": \"/api/v1/customer/11371/\", \"deliveryport\": 25, \"hold_email\": false, \"id\": 8372, \"name\": \"example.com\", \"notification_tasks\": [\"/api/v1/notification_domain_task/16919/\"], \"outbound_enabled\": false, \"policy\": \"/api/v1/policy_domain/16390/\", \"resource_uri\": \"/api/v1/domain/8372/\", \"updated_at\": \"Sun, 5 May 2013 06:50:37 -0700\", \"userlist_complete\": true}"
  recorded_at: Sun, 05 May 2013 14:41:17 GMT
[...]
- request:
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/localpart_alias/?email_account=7718
    body:
      string: ""
    headers:
      Authorization:
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 0}, \"objects\": []}"
  recorded_at: Sun, 05 May 2013 14:41:22 GMT
