--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/notification_account_task/29/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"email_account\": \"/api/v1/email_account/22/\", \"enable_default\": true, \"enabled\": false, \"fri\": true, \"hour\": 8, \"id\": 29, \"minute\": 31, \"mon\": true, \"priority\": 1, \"resource_uri\": \"/api/v1/notification_account_task/29/\", \"sat\": false, \"sun\": false, \"thu\": true, \"timezone\": \"Europe/London\", \"tue\": true, \"wed\": true}"
  recorded_at: Sat, 30 Mar 2013 10:02:58 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/email_account/22/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/user/22/\", \"aliases\": \"\", \"change_pwd\": null, \"contact\": null, \"create_opt\": null, \"created_at\": \"Thu, 7 Jun 2012 08:24:37 -0700\", \"domain\": \"/api/v1/domain/7/\", \"domain_name\": \"3utech.com\", \"id\": 22, \"localpart\": \"3ugtm2\", \"notification_task\": \"/api/v1/notification_account_task/29/\", \"policy\": \"/api/v1/policy_user/30/\", \"priority\": 8, \"resource_uri\": \"/api/v1/email_account/22/\", \"updated_at\": \"Thu, 27 Dec 2012 01:51:45 -0800\"}"
  recorded_at: Sat, 30 Mar 2013 10:02:59 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/domain/7/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/domain/7/\", \"active\": true, \"created_at\": \"Thu, 7 Jun 2012 08:24:37 -0700\", \"customer\": \"/api/v1/customer/6/\", \"deliveryport\": 25, \"hold_email\": false, \"id\": 7, \"name\": \"3utech.com\", \"notification_task\": \"/api/v1/notification_domain_task/26/\", \"outbound_enabled\": false, \"policy\": \"/api/v1/policy_domain/27/\", \"resource_uri\": \"/api/v1/domain/7/\", \"updated_at\": \"Sat, 8 Sep 2012 03:10:56 -0700\", \"userlist_complete\": true}"
  recorded_at: Sat, 30 Mar 2013 10:03:00 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/notification_domain_task/26/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"domain\": \"/api/v1/domain/7/\", \"domain_bounce_unlisted\": true, \"enabled\": false, \"fri\": true, \"hour\": 8, \"id\": 26, \"minute\": 44, \"mon\": true, \"priority\": 7, \"resource_uri\": \"/api/v1/notification_domain_task/26/\", \"sat\": false, \"sun\": false, \"thu\": true, \"timezone\": \"Europe/London\", \"tue\": true, \"wed\": true}"
  recorded_at: Sat, 30 Mar 2013 10:03:01 GMT
[...]
