---
http_interactions:
- request:
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/email_account/7718/
    body:
      string: ""
    headers:
      Authorization:
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      string: "{\"absolute_url\": \"/user/7718/\", \"aliases\": \"noreply\", \"change_pwd\": null, \"contact\": null, \"create_opt\": null, \"created_at\": \"Wed, 1 May 2013 12:03:04 -0700\", \"domain\": \"/api/v1/domain/8372/\", \"domain_name\": \"example.com\", \"id\": 7718, \"localpart\": \"admin\", \"notification_tasks\": [\"/api/v1/notification_account_task/16924/\"], \"policy\": \"/api/v1/policy_user/16395/\", \"priority\": 8, \"resource_uri\": \"/api/v1/email_account/7718/\", \"updated_at\": \"Sun, 5 May 2013 08:01:02 -0700\", \"use_domain_notifications\": true}"
  recorded_at: Sun, 05 May 2013 15:01:06 GMT
- request:
    method: post
    uri: https://admin-dev.mailroute.net/api/v1/localpart_alias/
    body:
      string: "{\"localpart\":\"sales\",\"email_account\":\"/api/v1/email_account/7718/\"}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Location:
      - https://admin-dev.mailroute.net/api/v1/localpart_alias/8802/
      Content-Type:
      - application/json; charset=utf-8
    body:
      string: "{\"created_at\": \"Sun, 5 May 2013 08:01:07 -0700\", \"domain\": \"/api/v1/domain/8372/\", \"email_account\": \"/api/v1/email_account/7718/\", \"id\": 8802, \"localpart\": \"sales\", \"resource_uri\": \"/api/v1/localpart_alias/8802/\", \"type\": \"alias\", \"updated_at\": \"Sun, 5 May 2013 08:01:07 -0700\"}"
  recorded_at: Sun, 05 May 2013 15:01:07 GMT
- request:
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/localpart_alias/?email_account=7718
    body:
      string: ""
    headers:
      Authorization:
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 2}, \"objects\": [{\"created_at\": \"Sun, 5 May 2013 08:01:02 -0700\", \"domain\": \"/api/v1/domain/8372/\", \"email_account\": \"/api/v1/email_account/7718/\", \"id\": 8801, \"localpart\": \"noreply\", \"resource_uri\": \"/api/v1/localpart_alias/8801/\", \"type\": \"alias\", \"updated_at\": \"Sun, 5 May 2013 08:01:02 -0700\"}, {\"created_at\": \"Sun, 5 May 2013 08:01:07 -0700\", \"domain\": \"/api/v1/domain/8372/\", \"email_account\": \"/api/v1/email_account/7718/\", \"id\": 8802, \"localpart\": \"sales\", \"resource_uri\": \"/api/v1/localpart_alias/8802/\", \"type\": \"alias\", \"updated_at\": \"Sun, 5 May 2013 08:01:07 -0700\"}]}"
  recorded_at: Sun, 05 May 2013 15:01:09 GMT
recorded_with: VCR 2.4.0
