--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/admins/customer/4/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 1}, \"objects\": [{\"customer\": null, \"date_joined\": \"Thu, 7 Jun 2012 09:44:54 -0700\", \"email\": \"s.norris@protouch.co.uk\", \"id\": 3361, \"is_active\": true, \"last_login\": \"Fri, 28 Sep 2012 00:37:34 -0700\", \"reseller\": null, \"resource_uri\": \"/api/v1/admins/customer/4/admin/3361/\", \"send_welcome\": null, \"username\": \"s.norris@protouch.co.uk\"}]}"
  recorded_at: Sat, 16 Mar 2013 17:28:58 GMT
