--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/customer/1300/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/customer/1300/\", \"allow_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/84/\", \"created_at\": \"Fri, 26 Oct 2012 04:18:42 -0700\", \"id\": 1300, \"is_full_user_list\": false, \"name\": \"111testCustomer111cc\", \"reported_user_count\": null, \"reseller\": \"/api/v1/reseller/51/\", \"resource_uri\": \"/api/v1/customer/1300/\", \"updated_at\": \"Sun, 17 Mar 2013 07:46:50 -0700\"}"
  recorded_at: Sun, 17 Mar 2013 14:47:44 GMT
- request: 
    method: post
    uri: https://admin-dev.mailroute.net/api/v1/contact_customer/
    body: 
      string: "{\"address\":\"Barcelona\",\"customer\":\"/api/v1/customer/1300/\",\"email\":\"contact@example.com\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 201
      message: CREATED
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://admin-dev.mailroute.net/api/v1/contact_customer/1649/
    body: 
      string: "{\"absolute_url\": \"/contacts/customer/1649/\", \"address\": \"Barcelona\", \"address2\": null, \"city\": \"\", \"country\": \"\", \"created_at\": \"Sun, 17 Mar 2013 07:47:46 -0700\", \"customer\": \"/api/v1/customer/1300/\", \"email\": \"contact@example.com\", \"first_name\": \"\", \"id\": 1649, \"is_billing\": false, \"is_emergency\": false, \"is_technical\": false, \"last_name\": \"\", \"phone\": null, \"resource_uri\": \"/api/v1/contact_customer/1649/\", \"state\": \"\", \"updated_at\": \"Sun, 17 Mar 2013 07:47:46 -0700\", \"zipcode\": null}"
  recorded_at: Sun, 17 Mar 2013 14:47:46 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/contact_customer/1649/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/contacts/customer/1649/\", \"address\": \"Barcelona\", \"address2\": null, \"city\": \"\", \"country\": \"\", \"created_at\": \"Sun, 17 Mar 2013 07:47:46 -0700\", \"customer\": \"/api/v1/customer/1300/\", \"email\": \"contact@example.com\", \"first_name\": \"\", \"id\": 1649, \"is_billing\": false, \"is_emergency\": false, \"is_technical\": false, \"last_name\": \"\", \"phone\": null, \"resource_uri\": \"/api/v1/contact_customer/1649/\", \"state\": \"\", \"updated_at\": \"Sun, 17 Mar 2013 07:47:46 -0700\", \"zipcode\": null}"
  recorded_at: Sun, 17 Mar 2013 14:47:47 GMT
