--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/reseller/4/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/reseller/4/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/52/\", \"created_at\": \"Thu, 7 Jun 2012 08:24:36 -0700\", \"id\": 4, \"name\": \"NE Ohio Web Services\", \"resource_uri\": \"/api/v1/reseller/4/\", \"updated_at\": \"Tue, 12 Mar 2013 20:21:14 -0700\"}"
  recorded_at: Wed, 13 Mar 2013 18:14:33 GMT
- request: 
    method: post
    uri: https://admin-dev.mailroute.net/api/v1/admins/reseller/4/
    body: 
      string: "{\"blabla\":123123123,\"email\":\"admin@example.com\",\"send_welcome\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 201
      message: CREATED
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://admin-dev.mailroute.net/api/v1/admins/reseller/4/admin/43692/
    body: 
      string: "{\"blabla\": 123123123, \"customer\": null, \"date_joined\": \"Wed, 13 Mar 2013 10:47:23 -0700\", \"email\": \"admin@example.com\", \"id\": 43692, \"is_active\": true, \"last_login\": \"Wed, 13 Mar 2013 10:47:23 -0700\", \"reseller\": null, \"resource_uri\": \"/api/v1/admins/reseller/4/admin/43692/\", \"send_welcome\": null, \"username\": \"admin@example.com\"}"
  recorded_at: Wed, 13 Mar 2013 18:14:35 GMT
