--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: post
    uri: https://admin-dev.mailroute.net/api/v1/reseller/
    body: 
      string: "{\"name\":\"Test Reseller 3\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 201
      message: CREATED
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://admin-dev.mailroute.net/api/v1/reseller/1507/
    body: 
      string: "{\"absolute_url\": \"/reseller/1507/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/3530/\", \"created_at\": \"Sun, 3 Mar 2013 06:01:57 -0800\", \"id\": 1507, \"name\": \"Test Reseller 3\", \"resource_uri\": \"/api/v1/reseller/1507/\", \"updated_at\": \"Sun, 3 Mar 2013 06:01:57 -0800\"}"
  recorded_at: Sun, 03 Mar 2013 14:01:57 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/reseller/1507/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/reseller/1507/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/3530/\", \"created_at\": \"Sun, 3 Mar 2013 06:01:57 -0800\", \"id\": 1507, \"name\": \"Test Reseller 3\", \"resource_uri\": \"/api/v1/reseller/1507/\", \"updated_at\": \"Sun, 3 Mar 2013 06:01:57 -0800\"}"
  recorded_at: Sun, 03 Mar 2013 14:01:58 GMT
