--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/customer/?reseller=4
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": \"/api/v1/customer/?limit=20&reseller=4&offset=20\", \"offset\": 0, \"previous\": null, \"total_count\": 26}, \"objects\": [{\"absolute_url\": \"/customer/1676/\", \"allow_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/1687/\", \"created_at\": \"Tue, 26 Feb 2013 04:59:04 -0800\", \"id\": 1676, \"is_full_user_list\": false, \"name\": \"06f6abc1a77585fbffe0a80a956b0ec0\", \"reported_user_count\": null, \"reseller\": \"/api/v1/reseller/4/\", \"resource_uri\": \"/api/v1/customer/1676/\", \"updated_at\": \"Sun, 3 Mar 2013 08:09:48 -0800\"}, {\"absolute_url\": \"/customer/1668/\", \"allow_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/1617/\", \"created_at\": \"Mon, 25 Feb 2013 13:03:35 -0800\", \"id\": 1668, \"is_full_user_list\": false, \"name\": \"08279fc82a3fd1e4cdab264b28ec539a\", \"reported_user_count\": null, \"reseller\": \"/api/v1/reseller/4/\", \"resource_uri\": \"/api/v1/customer/1668/\", \"updated_at\": \"Sun, 3 Mar 2013 08:09:45 -0800\"}, {\"absolute_url\": \"/customer[...]
