--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: delete
    uri: https://admin-dev.mailroute.net/api/v1/email_account/53266/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 204
      message: NO CONTENT
    headers: 
      Content-Type: 
      - text/html; charset=utf-8
    body: 
      string: ""
  recorded_at: Sun, 17 Mar 2013 19:23:06 GMT
[...]
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/domain/4554/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/domain/4554/\", \"active\": false, \"created_at\": \"Sun, 17 Mar 2013 08:14:41 -0700\", \"customer\": \"/api/v1/customer/1300/\", \"deliveryport\": 240, \"hold_email\": false, \"id\": 4554, \"name\": \"uberapp.example.com\", \"notification_task\": \"/api/v1/notification_domain_task/57796/\", \"outbound_enabled\": false, \"policy\": \"/api/v1/policy_domain/57863/\", \"resource_uri\": \"/api/v1/domain/4554/\", \"updated_at\": \"Sun, 17 Mar 2013 12:04:58 -0700\", \"userlist_complete\": true}"
  recorded_at: Sun, 17 Mar 2013 19:27:34 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/email_account/?domain=4554
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 0}, \"objects\": []}"
  recorded_at: Sun, 17 Mar 2013 19:27:35 GMT
- request: 
    method: post
    uri: https://admin-dev.mailroute.net/api/v1/email_account/
    body: 
      string: "{\"create_opt\":\"generate_pwd\",\"domain\":\"/api/v1/domain/4554/\",\"localpart\":\"101\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 201
      message: CREATED
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://admin-dev.mailroute.net/api/v1/email_account/53272/
    body: 
      string: "{\"absolute_url\": \"/user/53272/\", \"aliases\": \"\", \"change_pwd\": null, \"contact\": null, \"create_opt\": null, \"created_at\": \"Sun, 17 Mar 2013 12:27:36 -0700\", \"domain\": \"/api/v1/domain/4554/\", \"domain_name\": \"uberapp.example.com\", \"id\": 53272, \"localpart\": \"101\", \"notification_task\": \"/api/v1/notification_account_task/57809/\", \"policy\": \"/api/v1/policy_user/57876/\", \"priority\": 8, \"resource_uri\": \"/api/v1/email_account/53272/\", \"updated_at\": \"Sun, 17 Mar 2013 12:27:36 -0700\"}"
  recorded_at: Sun, 17 Mar 2013 19:27:37 GMT
[...]
