--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/customer/1300/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/customer/1300/\", \"allow_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/84/\", \"created_at\": \"Fri, 26 Oct 2012 04:18:42 -0700\", \"id\": 1300, \"is_full_user_list\": false, \"name\": \"111testCustomer111cc\", \"reported_user_count\": null, \"reseller\": \"/api/v1/reseller/51/\", \"resource_uri\": \"/api/v1/customer/1300/\", \"updated_at\": \"Thu, 21 Mar 2013 11:48:31 -0700\"}"
  recorded_at: Fri, 29 Mar 2013 18:43:08 GMT
- request: 
    method: post
    uri: https://admin-dev.mailroute.net/api/v1/contact_customer/
    body: 
      string: "{\"customer\":\"/api/v1/customer/1300/\",\"email\":\"haskell@example.com\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 201
      message: CREATED
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://admin-dev.mailroute.net/api/v1/contact_customer/1661/
    body: 
      string: "{\"absolute_url\": \"/contacts/customer/1661/\", \"address\": null, \"address2\": null, \"city\": \"\", \"country\": \"\", \"created_at\": \"Fri, 29 Mar 2013 11:43:09 -0700\", \"customer\": \"/api/v1/customer/1300/\", \"email\": \"haskell@example.com\", \"first_name\": \"\", \"id\": 1661, \"is_billing\": false, \"is_emergency\": false, \"is_technical\": false, \"last_name\": \"\", \"phone\": null, \"resource_uri\": \"/api/v1/contact_customer/1661/\", \"state\": \"\", \"updated_at\": \"Fri, 29 Mar 2013 11:43:09 -0700\", \"zipcode\": null}"
  recorded_at: Fri, 29 Mar 2013 18:43:09 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/contact_customer/1661/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/contacts/customer/1661/\", \"address\": null, \"address2\": null, \"city\": \"\", \"country\": \"\", \"created_at\": \"Fri, 29 Mar 2013 11:43:09 -0700\", \"customer\": \"/api/v1/customer/1300/\", \"email\": \"haskell@example.com\", \"first_name\": \"\", \"id\": 1661, \"is_billing\": false, \"is_emergency\": false, \"is_technical\": false, \"last_name\": \"\", \"phone\": null, \"resource_uri\": \"/api/v1/contact_customer/1661/\", \"state\": \"\", \"updated_at\": \"Fri, 29 Mar 2013 11:43:09 -0700\", \"zipcode\": null}"
  recorded_at: Fri, 29 Mar 2013 18:43:10 GMT
- request: 
    method: put
    uri: https://admin-dev.mailroute.net/api/v1/contact_customer/1661/
    body: 
      string: "{\"absolute_url\":\"/contacts/customer/1661/\",\"address\":null,\"address2\":null,\"city\":\"Minsk\",\"country\":\"\",\"created_at\":\"Fri, 29 Mar 2013 11:43:09 -0700\",\"customer\":\"/api/v1/customer/1300/\",\"email\":\"haskell@example.com\",\"first_name\":\"\",\"id\":1661,\"is_billing\":false,\"is_emergency\":false,\"is_technical\":false,\"last_name\":\"\",\"phone\":null,\"resource_uri\":\"/api/v1/contact_customer/1661/\",\"state\":\"\",\"updated_at\":\"Fri, 29 Mar 2013 11:43:09 -0700\",\"zipcode\":null}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 202
      message: ACCEPTED
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/contacts/customer/1661/\", \"address\": null, \"address2\": null, \"city\": \"Minsk\", \"country\": \"\", \"created_at\": \"Fri, 29 Mar 2013 11:43:09 -0700\", \"customer\": \"/api/v1/customer/1300/\", \"email\": \"haskell@example.com\", \"first_name\": \"\", \"id\": 1661, \"is_billing\": false, \"is_emergency\": false, \"is_technical\": false, \"last_name\": \"\", \"phone\": null, \"pk\": \"1661\", \"resource_uri\": \"/api/v1/contact_customer/1661/\", \"state\": \"\", \"updated_at\": \"Fri, 29 Mar 2013 11:43:12 -0700\", \"zipcode\": null}"
  recorded_at: Fri, 29 Mar 2013 18:43:12 GMT
[...]
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/contact_customer/?customer=1300
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 5}, \"objects\": [{\"absolute_url\": \"/contacts/customer/1262/\", \"address\": \"\", \"address2\": \"\", \"city\": \"\", \"country\": \"\", \"created_at\": \"Fri, 26 Oct 2012 04:18:58 -0700\", \"customer\": \"/api/v1/customer/1300/\", \"email\": \"joe@smith.com\", \"first_name\": \"Joe\", \"id\": 1262, \"is_billing\": false, \"is_emergency\": false, \"is_technical\": true, \"last_name\": \"Smith\", \"phone\": \"\", \"resource_uri\": \"/api/v1/contact_customer/1262/\", \"state\": \"\", \"updated_at\": \"Fri, 26[...]
