--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/customer/1300/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/customer/1300/\", \"allow_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/84/\", \"created_at\": \"Fri, 26 Oct 2012 04:18:42 -0700\", \"id\": 1300, \"is_full_user_list\": false, \"name\": \"111testCustomer111cc\", \"reported_user_count\": null, \"reseller\": \"/api/v1/reseller/51/\", \"resource_uri\": \"/api/v1/customer/1300/\", \"updated_at\": \"Sun, 17 Mar 2013 07:47:46 -0700\"}"
  recorded_at: Sun, 17 Mar 2013 14:57:33 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/admins/customer/1300/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 2}, \"objects\": [{\"customer\": null, \"date_joined\": \"Fri, 16 Nov 2012 05:38:23 -0800\", \"email\": \"rachel@mailroute.net\", \"id\": 10264, \"is_active\": true, \"last_login\": \"Tue, 12 Mar 2013 02:51:10 -0700\", \"reseller\": null, \"resource_uri\": \"/api/v1/admins/customer/1300/admin/10264/\", \"send_welcome\": null, \"username\": \"rachel@mailroute.net\"}, {\"customer\": null, \"date_joined\": \"Sun, 17 Mar 2013 07:57:28 -0700\", \"email\": \"admin@example.com\", \"id\": 43698, \"is_active\": true, \"last_login\": \"Sun, 17 Mar 2013 07:57:28 -0700\", \"reseller\": null, \"resource_uri\": \"/api/v1/admins/customer/1300/admin/43698/\", \"send_welcome\": null, \"username\": \"admin@example.com\"}]}"
  recorded_at: Sun, 17 Mar 2013 14:57:34 GMT
- request: 
    method: post
    uri: https://admin-dev.mailroute.net/api/v1/admins/customer/1300/
    body: 
      string: "{\"email\":\"admin@example.com\",\"send_welcome\":true}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 201
      message: CREATED
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://admin-dev.mailroute.net/api/v1/admins/customer/1300/admin/43698/
    body: 
      string: "{\"customer\": null, \"date_joined\": \"Sun, 17 Mar 2013 07:57:28 -0700\", \"email\": \"admin@example.com\", \"id\": 43698, \"is_active\": true, \"last_login\": \"Sun, 17 Mar 2013 07:57:28 -0700\", \"reseller\": null, \"resource_uri\": \"/api/v1/admins/customer/1300/admin/43698/\", \"send_welcome\": null, \"username\": \"admin@example.com\"}"
  recorded_at: Sun, 17 Mar 2013 14:57:36 GMT
