---
recorded_with: VCR 2.4.0
http_interactions:
- request:
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/domain/3388/
    body:
      string: ""
    headers:
      Authorization:
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      string: "{\"absolute_url\": \"/domain/3388/\", \"active\": true, \"created_at\": \"Fri, 26 Oct 2012 04:19:48 -0700\", \"customer\": \"/api/v1/customer/1300/\", \"deliveryport\": 25, \"hold_email\": false, \"id\": 3388, \"name\": \"1111test.com\", \"notification_task\": \"/api/v1/notification_domain_task/23158/\", \"outbound_enabled\": true, \"policy\": \"/api/v1/policy_domain/23166/\", \"resource_uri\": \"/api/v1/domain/3388/\", \"updated_at\": \"Thu, 13 Dec 2012 05:48:43 -0800\", \"userlist_complete\": true}"
  recorded_at: Sun, 17 Mar 2013 15:30:48 GMT
- request:
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/domain_alias/?domain=3388
    body:
      string: ""
    headers:
      Authorization:
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 2}, \"objects\": [{\"active\": true, \"created_at\": \"Mon, 12 Nov 2012 03:47:14 -0800\", \"domain\": \"/api/v1/domain/3388/\", \"id\": 3574, \"name\": \"1111test2.com\", \"resource_uri\": \"/api/v1/domain_alias/3574/\", \"updated_at\": \"Mon, 12 Nov 2012 03:47:14 -0800\"}, {\"active\": true, \"created_at\": \"Thu, 13 Dec 2012 05:35:28 -0800\", \"domain\": \"/api/v1/domain/3388/\", \"id\": 3711, \"name\": \"2222test2.com\", \"resource_uri\": \"/api/v1/domain_alias/3711/\", \"updated_at\": \"Thu, 13 Dec 2012 05:35:28 -0800\"}]}"
  recorded_at: Sun, 17 Mar 2013 15:30:49 GMT
