--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/customer/1985/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/customer/1985/\", \"allow_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/1767/\", \"created_at\": \"Wed, 6 Mar 2013 06:43:23 -0800\", \"id\": 1985, \"is_full_user_list\": false, \"name\": \"Seven Salon\", \"reported_user_count\": null, \"reseller\": \"/api/v1/reseller/86/\", \"resource_uri\": \"/api/v1/customer/1985/\", \"updated_at\": \"Tue, 12 Mar 2013 20:21:27 -0700\"}"
  recorded_at: Sat, 16 Mar 2013 16:40:51 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/domain/?customer=1985
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 1}, \"objects\": [{\"absolute_url\": \"/domain/4157/\", \"active\": true, \"created_at\": \"Wed, 6 Mar 2013 07:18:11 -0800\", \"customer\": \"/api/v1/customer/1985/\", \"deliveryport\": 25, \"hold_email\": false, \"id\": 4157, \"name\": \"7salon.com\", \"notification_task\": \"/api/v1/notification_domain_task/56266/\", \"outbound_enabled\": false, \"policy\": \"/api/v1/policy_domain/56332/\", \"resource_uri\": \"/api/v1/domain/4157/\", \"updated_at\": \"Wed, 6 Mar 2013 07:18:11 -0800\", \"userlist_complete\": false}]}"
  recorded_at: Sat, 16 Mar 2013 16:40:52 GMT
