--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: delete
    uri: https://admin-dev.mailroute.net/api/v1/contact_domain/1650/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 204
      message: NO CONTENT
    headers: 
      Content-Type: 
      - text/html; charset=utf-8
    body: 
      string: ""
  recorded_at: Mon, 18 Mar 2013 18:03:24 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/outbound_server/?domain=4554
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 1}, \"objects\": [{\"created_at\": \"Mon, 18 Mar 2013 10:54:47 -0700\", \"domain\": \"/api/v1/domain/4554/\", \"id\": 827, \"resource_uri\": \"/api/v1/outbound_server/827/\", \"server\": \"10.11.12.13\", \"updated_at\": \"Mon, 18 Mar 2013 10:54:47 -0700\"}]}"
  recorded_at: Mon, 18 Mar 2013 18:03:28 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/domain/4554/
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"absolute_url\": \"/domain/4554/\", \"active\": false, \"created_at\": \"Sun, 17 Mar 2013 08:14:41 -0700\", \"customer\": \"/api/v1/customer/1300/\", \"deliveryport\": 240, \"hold_email\": false, \"id\": 4554, \"name\": \"uberapp.example.com\", \"notification_task\": \"/api/v1/notification_domain_task/57796/\", \"outbound_enabled\": false, \"policy\": \"/api/v1/policy_domain/57863/\", \"resource_uri\": \"/api/v1/domain/4554/\", \"updated_at\": \"Mon, 18 Mar 2013 11:03:05 -0700\", \"userlist_complete\": true}"
  recorded_at: Mon, 18 Mar 2013 18:05:05 GMT
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/contact_domain/?domain=4554
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 0}, \"objects\": []}"
  recorded_at: Mon, 18 Mar 2013 18:05:06 GMT
- request: 
    method: post
    uri: https://admin-dev.mailroute.net/api/v1/contact_domain/
    body: 
      string: "{\"address\":\"The Moon\",\"domain\":\"/api/v1/domain/4554/\",\"email\":\"themoon@example.com\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 201
      message: CREATED
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://admin-dev.mailroute.net/api/v1/contact_domain/1652/
    body: 
      string: "{\"absolute_url\": \"/contacts/domain/1652/\", \"address\": \"The Moon\", \"address2\": null, \"city\": \"\", \"country\": \"\", \"created_at\": \"Mon, 18 Mar 2013 11:05:07 -0700\", \"domain\": \"/api/v1/domain/4554/\", \"email\": \"themoon@example.com\", \"first_name\": \"\", \"id\": 1652, \"is_billing\": false, \"is_emergency\": false, \"is_technical\": false, \"last_name\": \"\", \"phone\": null, \"resource_uri\": \"/api/v1/contact_domain/1652/\", \"state\": \"\", \"updated_at\": \"Mon, 18 Mar 2013 11:05:07 -0700\", \"zipcode\": null}"
  recorded_at: Mon, 18 Mar 2013 18:05:08 GMT
[...]
