--- 
recorded_with: VCR 2.4.0
http_interactions: 
- request: 
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/reseller/?order_by=name
    body: 
      string: ""
    headers: 
      Authorization: 
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": \"/api/v1/reseller/?limit=20&order_by=name&offset=20\", \"offset\": 0, \"previous\": null, \"total_count\": 84}, \"objects\": [{\"absolute_url\": \"/reseller/51/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/1/\", \"created_at\": \"Mon, 22 Oct 2012 04:55:38 -0700\", \"id\": 51, \"name\": \"111TEST_RESELLER\", \"resource_uri\": \"/api/v1/reseller/51/\", \"updated_at\": \"Tue, 12 Mar 2013 20:21:13 -0700\"}, {\"absolute_url\": \"/reseller/55/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\": \"/api/v1/brandinginfo/2/\", \"created_at\": \"Thu, 8 Nov 2012 03:53:15 -0800\", \"id\": 55, \"name\": \"Accountants Edge\", \"resource_uri\": \"/api/v1/reseller/55/\", \"updated_at\": \"Tue, 12 Mar 2013 20:21:13 -0700\"}, {\"absolute_url\": \"/reseller/21/\", \"allow_branding\": false, \"allow_customer_branding\": false, \"branding_info\"[...]
