---
recorded_with: VCR 2.4.0
http_interactions:
- request:
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/email_account/53282/
    body:
      string: ""
    headers:
      Authorization:
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      string: "{\"absolute_url\": \"/user/53282/\", \"aliases\": \"\", \"change_pwd\": null, \"contact\": \"/api/v1/contact_email_account/1654/\", \"create_opt\": null, \"created_at\": \"Sat, 23 Mar 2013 13:07:09 -0700\", \"domain\": \"/api/v1/domain/4555/\", \"domain_name\": \"apapap.example.com\", \"id\": 53282, \"localpart\": \"sales\", \"notification_task\": \"/api/v1/notification_account_task/57820/\", \"policy\": \"/api/v1/policy_user/57887/\", \"priority\": 8, \"resource_uri\": \"/api/v1/email_account/53282/\", \"updated_at\": \"Sat, 23 Mar 2013 13:37:03 -0700\"}"
  recorded_at: Sat, 23 Mar 2013 20:47:18 GMT
- request:
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/wblist/?email_account=53282
    body:
      string: ""
    headers:
      Authorization:
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 0}, \"objects\": []}"
  recorded_at: Sat, 23 Mar 2013 20:47:19 GMT
- request:
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/wblist/?email_account=53282&wb=b
    body:
      string: ""
    headers:
      Authorization:
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 0}, \"objects\": []}"
  recorded_at: Sat, 23 Mar 2013 20:47:20 GMT
- request:
    method: get
    uri: https://admin-dev.mailroute.net/api/v1/wblist/?email_account=53282&wb=w
    body:
      string: ""
    headers:
      Authorization:
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 0}, \"objects\": []}"
  recorded_at: Sat, 23 Mar 2013 20:47:21 GMT
- request:
    method: post
    uri: https://admin-dev.mailroute.net/api/v1/wblist/
    body:
      string: "{\"email\":\"spam@example.org\",\"email_account\":53282,\"wb\":\"b\"}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ApiKey blablablablabla@example.com:5f64xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx8262
  response:
    status:
      code: 500
      message: INTERNAL SERVER ERROR
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sentry-Id:
      - 60a2b9c5813e4d99bf22ebf42e3ea93c$fba6f7d46ad32acdfb60bd7f8e4afb08
    body:
      string: "{\"error_message\": \"Sorry, this request could not be processed. Please try again later.\"}"
  recorded_at: Sat, 23 Mar 2013 20:47:23 GMT
